//- Auto[Generating:V1]--->
//- PLEASE DO NOT MODIFY BECAUSE YOUR CHANGES MAY BE LOST.

.
  <!DOCTYPE html>
html(lang=headers && headers.language || 'en')
  head
    meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
    title.
      #{headers && headers.title || 'StackBlend Studio Community - Policy & Terms'}
    meta(name="description" content=headers && headers.description || '')
    meta(name="keywords" content=headers && headers.keywords || '')
    meta(http-equiv="content-language" content=headers && headers.language || 'en')
    meta(http-equiv="content-type" content=headers && headers.contentType || 'UTF-8')
    meta(name="revisit-after" content=headers && headers.revisitAfter || '7 days')
    meta(name="robots" content=headers && headers.robots || 'index, follow')
    meta(property="og:title" content=headers && headers.title || 'StackBlend Studio Community - Policy & Terms')
    meta(property="og:url" content=headers && headers.linkUrl || '/stackblend-policy-and-terms')
    meta(property="og:image" content=headers && headers.imageUrl || '')
    meta(property="og:type" content=headers && headers.itemType || 'website')
    meta(property="og:description" content=headers && headers.description || '')
    meta(property="og:locale" content=headers && headers.contentLocale || 'en_US')
    include ../_header.pug
  body(style="font-family: Inter")
    
    .internal-fsb-begin(internal-fsb-animation="", internal-fsb-guid="0")
      .internal-fsb-begin-layout.internal-fsb-strict-layout
        span(internal-fsb-init-class="Project.Controls.FlowLayout_6a0e95bb" internal-fsb-init-forward="{'classes': 'col-12 offset-0', 'styles': {}}")
        .-fsb-preset-35115348.internal-fsb-element(style={'-fsb-inherited-presets': '35115348', 'padding-left': '0px', 'padding-right': '0px', 'width': '100%'}, internal-fsb-guid="c27407a7")
          .col-md-10.internal-fsb-element.offset-md-1(style={'-fsb-inherited-presets': '', 'padding-left': '0px', 'padding-right': '0px'}, internal-fsb-guid="8e9710a3")
            .-fsb-preset-21a03a09.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '21a03a09', 'font-size': '13px', 'line-height': '1.15em', 'text-align': 'right', 'text-transform': 'uppercase'}, internal-fsb-guid="891d8401")
              div
                | SoftenStorm Foundation (Jatupon S.)
              div
                | Nonprofit Organization (NPO)
              div
                | Mueang Lamphun, Thailand
              div
                br
              div
                | This policy and terms are effective as of June 15, 2020.
                br
              div
                | 1st revised on November 18, 2020.
                | 
              div
                | 2nd revised on February 28, 2021.
                | 
              div
                | 3rd revised on August 14, 2021 (changED from the GPLv3 to the BSD-4 Clause.)
                | 
              div
                | 4th revised on June 16, 2023.
              div
                br
              div
                | For StackBlend Studio Community &amp; Professional
            .-fsb-preset-52a8a10d.internal-fsb-element(style={'-fsb-inherited-presets': '52a8a10d', 'padding-left': '15px', 'padding-right': '15px'}, internal-fsb-guid="71454138")
              | PRIVACY POLICY
            .-fsb-preset-21a03a09.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '21a03a09'}, internal-fsb-guid="c7737639")
              div
                | Your privacy is important to us. It is SoftenStorm's policy to respect your privacy regarding any information we may collect from you across our website, stackblend.org, and other sites we own and operate.
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
            .-fsb-preset-85716a5c.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '85716a5c'}, internal-fsb-guid="1144587b")
              | Information we collect
            .-fsb-preset-21a03a09.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '21a03a09', 'text-align': 'center'}, internal-fsb-guid="c0443e2e")
              | Log data
              | 
              div
              div
                | ​
                | 
              div
                | When you visit our website, our servers may automatically log the standard data provided by your web browser. This data is considered “non-identifying information”, as it does not personally identify you on its own. It may include your computer’s Internet Protocol (IP) address, your browser type and version, the pages you visit, the time and date of your visit, the time spent on each page, and other details.
                | 
              div
                | ​
                | 
              div
                | Personal information
                | 
              div
                | ​
                | 
              div
                | We may ask for personal information, such as your name and email address. This data is considered “identifying information”, as it can personally identify you. We only request personal information relevant to providing you with a service, and only use it to help provide or improve this service.
                | 
              div
                | ​
                | 
              div
                | How we collect information
                | 
              div
                | ​
                | 
              div
                | We collect information by fair and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how it will be used. You are free to refuse our request for this information, with the understanding that we may be unable to provide you with some of your desired services without it.
              div
              div
              div
              div
              div
              div
              div
              div
              div
            .-fsb-preset-85716a5c.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '85716a5c'}, internal-fsb-guid="c72e97c2")
              div
                | Use of information
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
            .-fsb-preset-21a03a09.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '21a03a09'}, internal-fsb-guid="1e0b83ca")
              div
                | We may use a combination of identifying and non-identifying information to understand who our visitors are, how they use our services, and how we may improve their experience of our website in future. We do not disclose the specifics of this information publicly, but may share aggregated and anonymized versions of this information, for example, in website and customer usage trend reports.
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
            .-fsb-preset-85716a5c.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '85716a5c'}, internal-fsb-guid="2a9940e2")
              div
                | Data processing and storage
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
            .-fsb-preset-21a03a09.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '21a03a09'}, internal-fsb-guid="cd32a94b")
              div
                | We only retain personal information for as long as necessary to provide a service, or to improve our services in future. While we retain this data, we will protect it within commercially acceptable means to prevent loss and theft, as well as unauthorized access, disclosure, copying, use or modification. That said, we advise that no method of electronic transmission or storage is 100% secure, and cannot guarantee absolute data security.
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
            .-fsb-preset-85716a5c.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '85716a5c'}, internal-fsb-guid="84b6c754")
              div
                | Cookies
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
            .-fsb-preset-21a03a09.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '21a03a09'}, internal-fsb-guid="b2a5d079")
              div
                | We use “cookies” to collect information about you and your activity across our site. A cookie is a small piece of data that our website stores on your computer, and accesses each time you visit so we can understand how you use our site and serve you content based on preferences you have specified.
                | 
              div
                | ​
                | 
              div
                | If you do not wish to accept cookies from us, you should instruct your browser to refuse cookies from our website, understanding that we may be unable to provide you with some of your desired services without them. This policy covers only the use of cookies between your computer and our website; it does not cover the use of cookies by any third-party services we use on our site.
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
            .-fsb-preset-85716a5c.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '85716a5c'}, internal-fsb-guid="60de2ee3")
              div
                | Third-party access to information
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
            .-fsb-preset-21a03a09.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '21a03a09'}, internal-fsb-guid="6555cd1a")
              div
                | We may use third-party services for our website and marketing activity. These services may access our data solely for the purpose of performing specific tasks on our behalf. We do not share any personally identifying information with these services without your explicit consent. We do not give these services permission to disclose or use any of our data for any other purpose.
                | 
              div
                | ​
                | 
              div
                | We will refuse government and law enforcement requests for data if we believe a request is too broad or unrelated to its stated purpose. However, we may cooperate if we believe the requested information is necessary and appropriate to comply with legal process, to protect our own rights and property, to protect the safety of the public and any person, to prevent a crime, or to prevent what we reasonably believe to be illegal, legally actionable, or unethical activity.
                | 
              div
                | ​
                | 
              div
                | We do not otherwise share or supply personal information to third parties. We do not sell or rent your personal information to marketers or third parties.
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
            .-fsb-preset-85716a5c.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '85716a5c'}, internal-fsb-guid="88ccb818")
              div
                | Children’s Privacy
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
            .-fsb-preset-21a03a09.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '21a03a09'}, internal-fsb-guid="8bc89bcc")
              div
                | This website does not knowingly target or collect personal information from children. As a parent/guardian, please contact us if you believe your child is participating in an activity involving personal information on our website, and you have not received a notification or request for consent. We do not use your supplied contact details for marketing or promotional purposes.
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
            .-fsb-preset-85716a5c.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '85716a5c'}, internal-fsb-guid="a45e70dd")
              div
                | Limits of our policy
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
            .-fsb-preset-21a03a09.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '21a03a09'}, internal-fsb-guid="cc1b18cd")
              div
                | This privacy policy only covers SoftenStorm's own collecting and handling of data. We only work with partners, affiliates and third-party providers whose privacy policies align with ours, however we cannot accept responsibility or liability for their respective privacy practices.
                | 
              div
                | ​
                | 
              div
                | Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and policies of those sites, and cannot accept responsibility or liability for their respective privacy practices.
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
            .-fsb-preset-85716a5c.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '85716a5c'}, internal-fsb-guid="4a30d619")
              div
                | Changes to this policy
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
            .-fsb-preset-21a03a09.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '21a03a09'}, internal-fsb-guid="76b27856")
              div
                | At our discretion, we may update this policy to reflect current acceptable practices. We will take reasonable steps to let users know about changes via our website. Your continued use of this site after any changes to this policy will be regarded as acceptance of our practices around data and personal information.
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
            .-fsb-preset-85716a5c.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '85716a5c'}, internal-fsb-guid="747454a4")
              div
                | Your rights and responsibilities
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
            .-fsb-preset-21a03a09.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '21a03a09'}, internal-fsb-guid="97d357ba")
              div
                | As our user, you have the right to be informed about how your data is collected and used. You are entitled to know what data we collect about you, and how it is processed. You are entitled to correct and update any personal information about you, and to request this information be deleted.
                | 
              div
                | ​
                | 
              div
                | You are entitled to restrict or object to our use of your data, while retaining the right to use your personal information for your own purposes. You have the right to opt out of data about you being used in decisions based solely on automated processing.
                | 
              div
                | ​
                | 
              div
                | Feel free to contact us if you have any concerns or questions about how we handle your data and personal information.
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
            .-fsb-preset-85716a5c.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '85716a5c'}, internal-fsb-guid="1a80531a")
              div
                | SoftenStorm Data Controller
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
            .-fsb-preset-21a03a09.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '21a03a09'}, internal-fsb-guid="52968123")
              div
                | Jatupon Sukkasem
              div
                | jatupon@softenstorm.com
                | 
              div
                | https://th.linkedin.com/in/jatupon​
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
        .col-md-10.internal-fsb-element.offset-md-1(style={'padding-bottom': '20px', 'padding-left': '0px', 'padding-right': '0px', 'padding-top': '50px', 'width': '100%'}, internal-fsb-guid="1724466b")
          .-fsb-preset-52a8a10d.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '52a8a10d'}, internal-fsb-guid="a4b70716")
            | TERMS OF SERVICE
          .-fsb-preset-85716a5c.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '85716a5c'}, internal-fsb-guid="a7d4d049")
            | 1. Terms
          .-fsb-preset-21a03a09.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '21a03a09'}, internal-fsb-guid="8940cd2e")
            | By accessing the website at stackblend.org, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.
          .-fsb-preset-85716a5c.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '85716a5c'}, internal-fsb-guid="3e188c6a")
            | 2. Use License
          .-fsb-preset-21a03a09.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '21a03a09'}, internal-fsb-guid="7020dae5")
            div
              | THE SOURCE CODE OF THE STACKBLEND STUDIO AND ITS EDITOR SOFTWARE
            div
              br
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
                | The source code of the StackBlend Studio and its editor software (the "Editor"), running on https://www.stackblend.org, and provided at https://github.com/SoftenStorm/full-stack-blend, is licensed under the Berkeley Software Distribution (BSD) 4-Clause License.
                | 
              div
                br
              div
                | BSD 4-Clause License
                | 
              div
                br
              div
                | Copyright (c) SoftenStorm Foundation. All rights reserved.
                | 
              div
                br
              div
                | Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
                | 
              div
                br
              div
                | 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
                | 
              div
                | 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.
                | 
              div
                | 3. All advertising materials mentioning features or use of this software must display the following acknowledgement:
                | 
              div
                | This product includes software developed by SoftenStorm.
                | 
              div
                | 4. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products derived from this software without specific prior written permission.
                | 
              div
                br
              div
                | THIS SOFTWARE IS PROVIDED BY SOFTENSTORM "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL SOFTENSTORM BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE
              div
                br
              div
                br
              div
                br
              div
                | SOFTWARE AND ASSOCIATED DOCUMENTATION OUTPUT FILES FROM THE EDITOR
              div
                br
              div
                | The source code of any software generated from the Editor is licensed under the Massachusetts Institute of Technology (MIT) License.
                | 
              div
                br
              div
                | MIT License
                | 
              div
                br
              div
                | Copyright (c) SoftenStorm Foundation. All rights reserved.
                | 
              div
                br
              div
                | Permission is hereby granted, free of charge, to any person obtaining a copy of the software and associated documentation output files on GitHub (the "Software"), generated from the Editor, to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
                | 
              div
                br
              div
                | THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE
              div
                br
              div
                br
              div
                br
              div
                | YOUR EXISTING SOFTWARE LICENSES ON GITHUB
              div
                br
              div
                | THE EXISTING COPYRIGHT NOTICES AND PERMISSION NOTICES CONTAINED IN YOUR PROJECTS ON GITHUB WHICH WERE CREATED BEFORE BEING MODIFIED BY THE EDITOR SHALL NOT BE OVERRIDED BY THIS AGREEMENT
              div
                br
              div
                br
              div
                br
              div
                | The above copyright notices and this permission notices shall be included in all copies or substantial portions of the Software.
              div
                br
              div
                br
              div
                br
              div
                | THE BOILERPLATE WHICH IS FORGED TO BE THE STACKBLEND STUDIO
              div
                br
              div
                | MIT License
                | 
              div
                br
              div
                | Copyright (c) Microsoft Corporation. All rights reserved.
                | 
              div
                br
              div
                | Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
              div
                br
              div
                | The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
              div
                br
              div
                | THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
              div
          .-fsb-preset-85716a5c.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '85716a5c'}, internal-fsb-guid="2440cd46")
            | 3. Disclaimer
          .-fsb-preset-21a03a09.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '21a03a09'}, internal-fsb-guid="b7091398")
            | The materials on SoftenStorm's website are provided on an 'as is' basis. SoftenStorm makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.
            | 
            div
            div
              | ​
              | 
            div
              | Further, SoftenStorm does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.
            div
          .-fsb-preset-85716a5c.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '85716a5c'}, internal-fsb-guid="11548e4e")
            | 4. Limitations
          .-fsb-preset-21a03a09.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '21a03a09'}, internal-fsb-guid="60a28610")
            | In no event shall SoftenStorm or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on SoftenStorm's website, even if SoftenStorm or a SoftenStorm authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
          .-fsb-preset-85716a5c.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '85716a5c'}, internal-fsb-guid="dc5caa75")
            | 5. Accuracy of materials
          .-fsb-preset-21a03a09.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '21a03a09'}, internal-fsb-guid="cb4d367d")
            | The materials appearing on SoftenStorm's website could include technical, typographical, or photographic errors. SoftenStorm does not warrant that any of the materials on its website are accurate, complete or current. SoftenStorm may make changes to the materials contained on its website at any time without notice. However SoftenStorm does not make any commitment to update the materials.
          .-fsb-preset-85716a5c.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '85716a5c'}, internal-fsb-guid="29e7c15e")
            | 6. Links
          .-fsb-preset-21a03a09.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '21a03a09'}, internal-fsb-guid="a928e693")
            | SoftenStorm has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by SoftenStorm of the site. Use of any such linked website is at the user's own risk.
          .-fsb-preset-85716a5c.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '85716a5c'}, internal-fsb-guid="438534b9")
            | 7. Modifications
          .-fsb-preset-21a03a09.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '21a03a09'}, internal-fsb-guid="e02e4589")
            | SoftenStorm may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.
          .-fsb-preset-85716a5c.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '85716a5c'}, internal-fsb-guid="0bbda884")
            | 8. Governing Law
          .-fsb-preset-21a03a09.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '21a03a09'}, internal-fsb-guid="16cd9b8d")
            | These terms and conditions are governed by and construed in accordance with the laws of Bangkok and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.
        .col-md-10.internal-fsb-element.offset-md-1(style={'padding-bottom': '20px', 'padding-left': '0px', 'padding-right': '0px', 'padding-top': '50px', 'width': '100%'}, internal-fsb-guid="8355e0c1")
          .-fsb-preset-52a8a10d.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '52a8a10d'}, internal-fsb-guid="8d9716dc")
            | COOKIE POLICY
          .-fsb-preset-21a03a09.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '21a03a09'}, internal-fsb-guid="b036719e")
            | We use cookies to help improve your experience of stackblend.org. This cookie policy is part of SoftenStorm's privacy policy, and covers the use of cookies between your device and our site.
            | 
            div
            div
              | ​
              | 
            div
              | If you don’t wish to accept cookies from us, you should instruct your browser to refuse cookies from stackblend.org, with the understanding that we may be unable to provide you with some of your desired content and services.
            div
          .-fsb-preset-85716a5c.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '85716a5c'}, internal-fsb-guid="24cde903")
            | What is a cookie?
          .-fsb-preset-21a03a09.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '21a03a09'}, internal-fsb-guid="3a19eb25")
            | A cookie is a small piece of data that a website stores on your device when you visit, typically containing information about the website itself, a unique identifier that allows the site to recognize your web browser when you return, additional data that serves the purpose of the cookie, and the lifespan of the cookie itself.
            | 
            div
            div
              | ​
              | 
            div
              | Cookies are used to enable certain features (eg. logging in), to track site usage (eg. analytics), to store your user settings (eg. timezone, notification preferences), and to personalize your content (eg. advertising, language).
              | 
            div
              | ​
              | 
            div
              | Cookies set by the website you are visiting are normally referred to as “first-party cookies”, and typically only track your activity on that particular site. Cookies set by other sites and companies (ie. third parties) are called “third-party cookies”, and can be used to track you on other websites that use the same third-party service.
            div
            div
            div
          .-fsb-preset-85716a5c.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '85716a5c'}, internal-fsb-guid="b2d285da")
            | How you can control or opt out of cookies?
          .-fsb-preset-21a03a09.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '21a03a09'}, internal-fsb-guid="81326e78")
            | If you do not wish to accept cookies from us, you can instruct your browser to refuse cookies from our website. Most browsers are configured to accept cookies by default, but you can update these settings to either refuse cookies altogether, or to notify you when a website is trying to set or update a cookie.
            | 
            div
            div
              | ​
              | 
            div
              | If you browse websites from multiple devices, you may need to update your settings on each individual device.
              | 
            div
              | Although some cookies can be blocked with little impact on your experience of a website, blocking all cookies may mean you are unable to access certain features and content across the sites you visit.
            div
            div
        .internal-fsb-element.internal-fsb-strict-layout(style={'padding-bottom': '30px', 'padding-top': '30px'}, internal-fsb-class="FlowLayout", internal-fsb-guid="d03667a0")
          .col-12.internal-fsb-element(style={'font-size': '13px', 'font-weight': '300', 'text-align': 'center'}, internal-fsb-guid="8939dba9")
            | ©2020-2023 by SoftenStorm Foundation
          a.internal-fsb-element(style={'-moz-text-decoration-line': 'none', '-webkit-text-decoration-line': 'none', 'color': 'rgba(33, 33, 33, 1)', 'font-size': '13px', 'font-weight': '300', 'text-align': 'center', 'text-decoration-line': 'none', 'width': '100vw'}, href="https://www.stackblend.org", internal-fsb-guid="8dd1641d")
            .internal-fsb-element(internal-fsb-guid="3a40d960")
              | Designed in StackBlend Studio
    script(type="text/javascript" src="/js/libraries/polyfills/polyfill.io.js")
    script(type="text/javascript" src="/js/Embed.bundle.js")
    script(type="text/javascript").
      var Controller = /** @class */ (function () {
          function Controller() {
              this.dictionary = {};
          }
          Controller.prototype.register = function (guid, eventName, functionName, capturing, forward) {
              if (!this.dictionary[guid])
                  this.dictionary[guid] = {};
              this.dictionary[guid][eventName] = [functionName, capturing, forward];
          };
          Controller.prototype.listen = function (guid) {
              if (this.dictionary[guid]) {
                  for (var key in this.dictionary[guid]) {
                      if (this.dictionary[guid].hasOwnProperty(key)) {
                          var eventName = key;
                          var functionName = this.dictionary[guid][key][0];
                          var capturing = !!this.dictionary[guid][key][1];
                          var forward = this.dictionary[guid][key][2];
                          var element = (!forward) ? this.getElementUsingGUID(guid) : this.getElementUsingGUID(guid).firstElementChild;
                          element.addEventListener(eventName, this[functionName].bind(this), capturing);
                      }
                  }
              }
          };
          Controller.prototype.getElementUsingGUID = function (guid) {
              return document.querySelectorAll('[internal-fsb-guid="' + guid + '"]')[0];
          };
          return Controller;
      }());
      var controller = new Controller();
      TestHelper.identify();
      function ready(a) { "loading" != document.readyState ? a(new Event('ready')) : document.addEventListener ? document.addEventListener("DOMContentLoaded", a) : (document.onreadystatechange = function (e) { "complete" == document.readyState && a(e); }); }
      ;
      
    <link internal-fsb-link="true" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" class="internal-fsb-accessory internal-fsb-font">
    script(type="text/javascript").
      window.data = !{JSON.stringify(data)};
    include ../_footer.pug

//- <--- Auto[Generating:V1]
//- PLEASE DO NOT MODIFY BECAUSE YOUR CHANGES MAY BE LOST.