//- Auto[Generating:V1]--->
//- PLEASE DO NOT MODIFY BECAUSE YOUR CHANGES MAY BE LOST.

.
  <!DOCTYPE html>
html(lang=headers && headers.language || 'en')
  head
    meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
    title.
      #{headers && headers.title || 'Blog of SoftenStorm Foundation'}
    meta(name="description" content=headers && headers.description || '')
    meta(name="keywords" content=headers && headers.keywords || '')
    meta(http-equiv="content-language" content=headers && headers.language || 'en')
    meta(http-equiv="content-type" content=headers && headers.contentType || 'UTF-8')
    meta(name="revisit-after" content=headers && headers.revisitAfter || '7 days')
    meta(name="robots" content=headers && headers.robots || 'index, follow')
    meta(property="og:title" content=headers && headers.title || 'Blog of SoftenStorm Foundation')
    meta(property="og:url" content=headers && headers.linkUrl || '/blog/categories/:category')
    meta(property="og:image" content=headers && headers.imageUrl || '')
    meta(property="og:type" content=headers && headers.itemType || 'website')
    meta(property="og:description" content=headers && headers.description || '')
    meta(property="og:locale" content=headers && headers.contentLocale || 'en_US')
    include ../../_header.pug
  body(style="font-family: Inter")
    
    .internal-fsb-begin(internal-fsb-animation="", internal-fsb-guid="0")
      .internal-fsb-begin-layout.internal-fsb-strict-layout
        .col-lg-10.internal-fsb-element.internal-fsb-strict-layout.offset-lg-1(style={'padding-left': '0px', 'padding-right': '0px'}, internal-fsb-class="FlowLayout", internal-fsb-guid="5a72386b")
          span(internal-fsb-init-class="Project.Controls.FlowLayout_6a0e95bb" internal-fsb-init-forward="{'classes': 'col-12 offset-0', 'styles': {}}")
        .internal-fsb-element(style={'background': 'rgba(229, 229, 229, 1)', 'padding-bottom': '35px', 'padding-left': '0px', 'padding-right': '0px', 'padding-top': '35px', 'width': '100%'}, internal-fsb-guid="115b4bc6")
          .col-lg-10.internal-fsb-element.offset-lg-1(style={'padding-left': '0px', 'padding-right': '0px', 'width': '100%'}, internal-fsb-guid="6a079104")
            .internal-fsb-element(style={'padding-bottom': '50px', 'padding-left': '0px', 'padding-right': '0px', 'width': '100%'}, internal-fsb-guid="29393e0e")
              .col-12.internal-fsb-element(style={'margin-bottom': '35px', 'text-align': 'left'}, internal-fsb-guid="838e7814")
                .svg
                  svg(height="54", width="54", xmlns="http://www.w3.org/2000/svg", xmlns:svg="http://www.w3.org/2000/svg")
                    |  Created with SVG-edit - https://github.com/SVG-Edit/svgedit
                    g.layer
                      title
                        | Layer 1
                      path(d="m0.49389,44.42017l16,-28.00001l16.00001,28.00001l-32.00001,0z", fill="transparent", fillOpacity="0.01", id="svg_1", stroke="#000000")
                      path(d="m21.74999,44.5l16,-28.00001l16.00001,28.00001l-32.00001,0z", fill="transparent", fillOpacity="0.01", id="svg_6", stroke="#000000")
                      path(d="m11.24999,35l16,-28.00001l16.00001,28.00001l-32.00001,0z", fill="transparent", fillOpacity="0.01", id="svg_7", stroke="#000000")
              .col-12.internal-fsb-element(style={'font-weight': '300'}, internal-fsb-guid="52651388")
                | "If we want to improve the world we cannot do it with scientific knowledge but with ideals. Confucius, Buddha, Jesus and Gandhi have done more for humanity than science has done. We must begin with the heart of man — with his conscience — and the values of conscience can only be manifested by selfless service to mankind."
                div
                  br
                  div
                    | Einstein, Albert. Einstein and the Poet (1983), p. 92
                  div
            .internal-fsb-element.internal-fsb-strict-layout(style={'padding-left': '15px', 'padding-right': '15px'}, internal-fsb-class="FlowLayout", internal-fsb-guid="89951ab1")
              a.-fsb-preset-45242510.internal-fsb-element(style={'-fsb-inherited-presets': '45242510'}, href="https://www.quora.com/What-are-Einsteins-views-on-Buddha", internal-fsb-guid="8cd650b4")
                .internal-fsb-element(internal-fsb-guid="8cd650b4-text")
                  | Quora
        .col-lg-10.internal-fsb-element.internal-fsb-strict-layout.offset-lg-1(style={'padding-left': '15px', 'padding-right': '0px'}, internal-fsb-class="FlowLayout", internal-fsb-guid="52e444ac")
          .internal-fsb-element.internal-fsb-strict-layout(style={'padding-left': '0px', 'padding-right': '0px', 'padding-top': '15px'}, internal-fsb-class="FlowLayout", internal-fsb-guid="a4bd56a7")
            a.-fsb-self-da81cc71.internal-fsb-element(href="/blog/categories/all", internal-fsb-guid="da81cc71")
              .internal-fsb-element(internal-fsb-guid="da81cc71-text")
                | All Posts
            a.-fsb-preset-da81cc71.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': 'da81cc71'}, href="/blog/categories/word-grabber-and-scanning-dictionary", internal-fsb-guid="3072935d")
              .internal-fsb-element(internal-fsb-guid="0ca108b6")
                | Word Grabber or Scanning Dictionary
            a.-fsb-preset-da81cc71.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': 'da81cc71'}, href="/blog/categories/pronunciation", internal-fsb-guid="bc5a6e08")
              .internal-fsb-element(internal-fsb-guid="390d79dd")
                | Pronunciation
            a.-fsb-preset-da81cc71.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': 'da81cc71'}, href="/blog/categories/sentence-structure", internal-fsb-guid="da97d0da")
              .internal-fsb-element(internal-fsb-guid="502855d9")
                | Sentence Structure
            a.-fsb-preset-da81cc71.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': 'da81cc71'}, href="/blog/categories/translator", internal-fsb-guid="baea26d5")
              .internal-fsb-element(internal-fsb-guid="e066aa51")
                | Translator
            a.-fsb-preset-da81cc71.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': 'da81cc71'}, href="/blog/categories/reverse-dictionary", internal-fsb-guid="321a044c")
              .internal-fsb-element(internal-fsb-guid="c1e05539")
                | Reverse Dictionary
          each data, i in DataManipulationHelper.getDataFromNotation("blog", undefined, true, false)
            .col-lg-6.internal-fsb-element(style={'padding-left': '0px', 'padding-right': '15px', 'width': '100%'}, data-fsb-index=i, internal-fsb-guid="04b07a98")
              a.internal-fsb-element(style={'-moz-text-decoration-line': 'none', '-webkit-text-decoration-line': 'none', 'color': 'rgba(33, 33, 33, 1)', 'padding-left': '0px', 'padding-right': '0px', 'text-decoration-line': 'none', 'width': '100%'}, href=DataManipulationHelper.getDataFromNotation("blog[" + i + "].link"), internal-fsb-guid="31d479b7")
                .internal-fsb-element.internal-fsb-strict-layout(style={'border-bottom-color': 'rgba(197, 197, 197, 1)', 'border-bottom-style': 'solid', 'border-bottom-width': '1px', 'border-left-color': 'rgba(197, 197, 197, 1)', 'border-left-style': 'solid', 'border-left-width': '1px', 'border-right-color': 'rgba(197, 197, 197, 1)', 'border-right-style': 'solid', 'border-right-width': '1px', 'border-top-color': 'rgba(197, 197, 197, 1)', 'border-top-style': 'solid', 'border-top-width': '1px', 'margin-top': '20px', 'padding-left': '0px', 'padding-right': '0px'}, internal-fsb-class="FlowLayout", internal-fsb-guid="091d043d")
                  .internal-fsb-element.internal-fsb-strict-layout(style={'padding-left': '0px', 'padding-right': '0px'}, internal-fsb-class="FlowLayout", internal-fsb-guid="24d3b87e")
                    .col-4.internal-fsb-element.offset-0(style={'-ms-overflow-x': 'hidden', '-ms-overflow-y': 'hidden', 'background': 'rgba(252, 252, 252, 1)', 'overflow-x': 'hidden', 'overflow-y': 'hidden', 'padding-left': '0px', 'padding-right': '0px', 'position': 'relative', 'width': '100%'}, internal-fsb-guid="976eb70e")
                      .col-12.internal-fsb-element(style={padding: '0px'}, internal-fsb-forward="1", internal-fsb-guid="e9d4245a")
                        img(style={'display': 'block', 'left': '0px', 'padding': '0px', 'position': 'absolute', 'ratio': '520:391', 'right': '0px', 'top': '0px', 'width': '100%'}, src=DataManipulationHelper.getDataFromNotation("blog[" + i + "].image"), internal-fsb-ratio-fit="true")
                        img(style={'display': 'none'}, src=DataManipulationHelper.getDataFromNotation("blog[" + i + "].image"), internal-fsb-ratio-expand="true")
                    .col-8.internal-fsb-element.offset-0(style={'font-weight': '300', 'padding-bottom': '15px', 'padding-top': '15px', 'width': '100%'}, internal-fsb-guid="89c102b9")
                      .col-12.internal-fsb-element(style={'font-size': '11px'}, internal-fsb-guid="46324900")
                        | #{DataManipulationHelper.getDataFromNotation("blog[" + i + "].author")}
                      .internal-fsb-element(style={'font-size': '11px', 'padding-left': '15px', 'padding-right': '15px', 'width': '100%'}, internal-fsb-guid="234d364d")
                        .internal-fsb-element(style={'display': 'inline-block'}, internal-fsb-guid="b30268d9")
                          | #{DataManipulationHelper.getDataFromNotation("blog[" + i + "].date")}
                        .internal-fsb-element(style={'display': 'inline-block', 'font-weight': 'bold', 'padding-left': '5px', 'padding-right': '5px', 'position': 'relative', 'top': '-3px'}, internal-fsb-guid="3baa483a")
                          | .
                        .internal-fsb-element(style={'display': 'inline-block'}, internal-fsb-guid="098579e6")
                          | #{DataManipulationHelper.getDataFromNotation("blog[" + i + "].length")}
                        .internal-fsb-element(style={'display': 'inline-block'}, internal-fsb-guid="75978459")
                          | &nbsp;min
                      .col-12.internal-fsb-element(style={'-ms-overflow-x': 'hidden', '-ms-overflow-y': 'hidden', 'font-size': '24px', 'font-weight': '400', 'height': '60px', 'line-height': '1.25em', 'margin-top': '5px', 'overflow-x': 'hidden', 'overflow-y': 'hidden'}, internal-fsb-guid="52317c73")
                        | #{DataManipulationHelper.getDataFromNotation("blog[" + i + "].title")}
                      .col-12.internal-fsb-element(style={'-ms-overflow-x': 'hidden', '-ms-overflow-y': 'hidden', 'font-size': '14px', 'height': '51px', 'line-height': '1.25em', 'overflow-x': 'hidden', 'overflow-y': 'hidden'}, internal-fsb-guid="61ee67a9")
                        | #{DataManipulationHelper.getDataFromNotation("blog[" + i + "].description")}
                      .internal-fsb-element(style={'padding-left': '15px', 'padding-right': '15px', 'padding-top': '10px'}, internal-fsb-guid="6cd70c23")
                        .internal-fsb-element(style={'border-top-color': 'rgba(197, 197, 197, 1)', 'border-top-style': 'solid', 'border-top-width': '1px', 'font-size': '11px', 'padding-left': '0px', 'padding-right': '0px', 'padding-top': '15px', 'width': '100%'}, internal-fsb-guid="e4cceb95")
                          .internal-fsb-element(style={'display': 'inline-block'}, internal-fsb-guid="5e009b78")
                            | #{DataManipulationHelper.getDataFromNotation("blog[" + i + "].view")}
                          .internal-fsb-element(style={'display': 'inline-block', 'margin-right': '15px'}, internal-fsb-guid="3682ce6e")
                            | &nbsp;views
                          .internal-fsb-element(style={'display': 'inline-block'}, internal-fsb-guid="4e0063e6")
                            | #{DataManipulationHelper.getDataFromNotation("blog[" + i + "].comment")}
                          .internal-fsb-element(style={'display': 'inline-block'}, internal-fsb-guid="377a2589")
                            | &nbsp;comments
        .internal-fsb-element.internal-fsb-strict-layout(style={'padding-bottom': '30px', 'padding-top': '30px'}, internal-fsb-class="FlowLayout", internal-fsb-guid="b51cb7e0")
          .col-12.internal-fsb-element(style={'font-size': '13px', 'font-weight': '300', 'text-align': 'center'}, internal-fsb-guid="a95ae6a1")
            | ©2020-2023 by SoftenStorm Foundation
          a.internal-fsb-element(style={'-moz-text-decoration-line': 'none', '-webkit-text-decoration-line': 'none', 'color': 'rgba(33, 33, 33, 1)', 'font-size': '13px', 'font-weight': '300', 'text-align': 'center', 'text-decoration-line': 'none', 'width': '100vw'}, href="https://www.stackblend.org", internal-fsb-guid="9e3d6ea7")
            .internal-fsb-element(internal-fsb-guid="845292dd")
              | Designed in StackBlend Studio
    script(type="text/javascript" src="/js/libraries/polyfills/polyfill.io.js")
    script(type="text/javascript" src="/js/Embed.bundle.js")
    script(type="text/javascript").
      var Controller = /** @class */ (function () {
          function Controller() {
              this.dictionary = {};
          }
          Controller.prototype.register = function (guid, eventName, functionName, capturing, forward) {
              if (!this.dictionary[guid])
                  this.dictionary[guid] = {};
              this.dictionary[guid][eventName] = [functionName, capturing, forward];
          };
          Controller.prototype.listen = function (guid) {
              if (this.dictionary[guid]) {
                  for (var key in this.dictionary[guid]) {
                      if (this.dictionary[guid].hasOwnProperty(key)) {
                          var eventName = key;
                          var functionName = this.dictionary[guid][key][0];
                          var capturing = !!this.dictionary[guid][key][1];
                          var forward = this.dictionary[guid][key][2];
                          var element = (!forward) ? this.getElementUsingGUID(guid) : this.getElementUsingGUID(guid).firstElementChild;
                          element.addEventListener(eventName, this[functionName].bind(this), capturing);
                      }
                  }
              }
          };
          Controller.prototype.getElementUsingGUID = function (guid) {
              return document.querySelectorAll('[internal-fsb-guid="' + guid + '"]')[0];
          };
          return Controller;
      }());
      var controller = new Controller();
      TestHelper.identify();
      function ready(a) { "loading" != document.readyState ? a(new Event('ready')) : document.addEventListener ? document.addEventListener("DOMContentLoaded", a) : (document.onreadystatechange = function (e) { "complete" == document.readyState && a(e); }); }
      ;
      
    <link internal-fsb-link="true" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" class="internal-fsb-accessory internal-fsb-font">
    script(type="text/javascript").
      window.data = !{JSON.stringify(data)};
    include ../../_footer.pug

//- <--- Auto[Generating:V1]
//- PLEASE DO NOT MODIFY BECAUSE YOUR CHANGES MAY BE LOST.