
link(rel="icon" href='')
link(rel="stylesheet" href="/css/embed.css")
link(rel="stylesheet" type="text/css" href="/js/libraries/bootstrap@4/bootstrap-4.4.1.min.css")

style(type="text/css").
  .internal-fsb-element.-fsb-self-1ca23a57, .internal-fsb-element.-fsb-preset-1ca23a57 { -fsb-reusable-id: 1ca23a57; -fsb-reusable-name: v1_suite_title_; font-size: 22px; font-weight: 300; margin-bottom: 15px; margin-top: 30px; text-align: center; text-transform: uppercase } .internal-fsb-element.-fsb-self-c0e9813d, .internal-fsb-element.-fsb-preset-c0e9813d { -fsb-reusable-id: c0e9813d; -fsb-reusable-name: v1_suite_column_; background: rgba(255, 255, 255, 0.5); border-left-color: rgba(0, 134, 235, 1); border-right-color: rgba(0, 134, 235, 1); color: rgba(255, 255, 255, 1); padding-bottom: 30px; padding-left: 15px; padding-right: 15px; padding-top: 30px; width: 100% } .internal-fsb-element.-fsb-self-46bbc736, .internal-fsb-element.-fsb-preset-46bbc736 { -fsb-reusable-id: 46bbc736; -fsb-reusable-name: v1_suite_body; font-size: 15px; font-weight: 300; line-height: 1.35em; margin-bottom: 15px; text-align: center } .internal-fsb-element.-fsb-self-52a8a10d, .internal-fsb-element.-fsb-preset-52a8a10d { -fsb-reusable-id: 52a8a10d; -fsb-reusable-name: v1_policy_title_; font-size: 28px; font-weight: 600; padding-bottom: 5px } .internal-fsb-element.-fsb-self-85716a5c, .internal-fsb-element.-fsb-preset-85716a5c { -fsb-reusable-id: 85716a5c; -fsb-reusable-name: v1_policy_subtitle; font-weight: 500; margin-bottom: 5px; margin-top: 20px } .internal-fsb-element.-fsb-self-35115348, .internal-fsb-element.-fsb-preset-35115348 { -fsb-reusable-id: 35115348; -fsb-reusable-name: v1_policy_container; padding-left: 0px; padding-right: 0px; padding-top: 50px; width: 100% } .internal-fsb-element.-fsb-self-21a03a09, .internal-fsb-element.-fsb-preset-21a03a09 { -fsb-reusable-id: 21a03a09; -fsb-reusable-name: v1_policy_body; font-size: 15px; font-weight: 300; padding-bottom: 15px } .internal-fsb-element.-fsb-self-7e3024a9, .internal-fsb-element.-fsb-preset-7e3024a9 { -fsb-reusable-id: 7e3024a9; -fsb-reusable-name: v1_navigation_menu; -moz-text-decoration-line: none; -webkit-text-decoration-line: none; color: rgba(33, 33, 33, 1); display: inline-block; font-size: 15px; font-weight: 300; margin-left: 15px; text-decoration-line: none } .internal-fsb-element.-fsb-self-7451b567, .internal-fsb-element.-fsb-preset-7451b567 { -fsb-reusable-id: 7451b567; -fsb-reusable-name: v1_herounit_panel; -ms-flex-direction: column; -webkit-flex-direction: column; -webkit-justify-content: center; background: rgba(0, 134, 235, 0.75); color: rgba(255, 255, 255, 1); display: flex; flex-direction: column; font-size: 26px; font-weight: 300; height: 35vh; justify-content: center; min-height: 350px; padding-left: 15px; padding-right: 15px; position: relative; text-align: center; width: 100% } .internal-fsb-element.-fsb-self-45242510, .internal-fsb-element.-fsb-preset-45242510, .internal-fsb-element.-fsb-preset-2d8e4cab { -fsb-reusable-id: 45242510; -fsb-reusable-name: v1_herounit_button; -moz-text-decoration-line: none; -webkit-border-radius: 0px 0px 0px 0px; -webkit-text-decoration-line: none; border-bottom-color: rgba(33, 33, 33, 1); border-bottom-style: solid; border-bottom-width: 1px; border-left-color: rgba(33, 33, 33, 1); border-left-style: solid; border-left-width: 1px; border-radius: 0px 0px 0px 0px; border-right-color: rgba(33, 33, 33, 1); border-right-style: solid; border-right-width: 1px; border-top-color: rgba(33, 33, 33, 1); border-top-style: solid; border-top-width: 1px; color: rgba(33, 33, 33, 1); font-size: 15px; font-weight: 300; line-height: 1.15em; margin-bottom: 17px; padding-bottom: 10px; padding-left: 30px; padding-right: 30px; padding-top: 10px; text-decoration-line: none } .internal-fsb-element.-fsb-self-027229d9, .internal-fsb-element.-fsb-preset-027229d9 { -fsb-reusable-id: 027229d9; -fsb-reusable-name: v1_gallery_item_fullscreen_info_title__; font-size: 26px; font-weight: 300; margin-bottom: 20px; white-space: normal } .internal-fsb-element.-fsb-self-2846c888, .internal-fsb-element.-fsb-preset-2846c888 { -fsb-reusable-id: 2846c888; -fsb-reusable-name: v1_gallery_item_fullscreen_info_body; font-size: 14px; font-weight: 300; padding-bottom: 30px; white-space: normal } .internal-fsb-element.-fsb-self-937ee3cc, .internal-fsb-element.-fsb-preset-937ee3cc { -fsb-reusable-id: 937ee3cc; -fsb-reusable-name: v1_gallery_item_fullscreen_info; padding-left: 0px; padding-right: 0px; padding-top: 30px; width: 100% } .internal-fsb-element.-fsb-self-66e37669, .internal-fsb-element.-fsb-preset-66e37669 { -fsb-reusable-id: 66e37669; -fsb-reusable-name: v1_gallery_item_fullscreen_image; max-height: 100vh; padding-left: 0px; padding-right: 0px; text-align: center; width: 100% } .internal-fsb-element.-fsb-self-8b145a01, .internal-fsb-element.-fsb-preset-8b145a01 { -fsb-reusable-id: 8b145a01; -fsb-reusable-name: v1_gallery_item_fullscreen__; -ms-overflow-x: hidden; -ms-overflow-y: hidden; -webkit-align-content: center; align-content: center; background: rgba(255, 255, 255, 1); bottom: 0px; display: none; left: 0px; overflow-x: hidden; overflow-y: hidden; padding-left: 0px; padding-right: 0px; position: fixed; right: 0px; top: 0px; z-index: 2500 } .internal-fsb-element.-fsb-self-eb281339, .internal-fsb-element.-fsb-preset-eb281339 { -fsb-reusable-id: eb281339; -fsb-reusable-name: v1_gallery_item; display: inline-block; padding-left: 0px; padding-right: 0px; width: 300px } .internal-fsb-element.-fsb-self-a4370367, .internal-fsb-element.-fsb-preset-a4370367 { -fsb-reusable-id: a4370367; -fsb-reusable-name: v1_feature_title; font-size: 28px } .internal-fsb-element.-fsb-self-8215a890, .internal-fsb-element.-fsb-preset-8215a890 { -fsb-reusable-id: 8215a890; -fsb-reusable-name: v1_feature_hr; background: rgba(255, 255, 255, 1); display: inline-block; height: 2px; margin-bottom: 15px; margin-top: 15px; max-width: 100px; padding-left: 0px; padding-right: 0px; width: 20% } .internal-fsb-element.-fsb-self-71e2ed73, .internal-fsb-element.-fsb-preset-71e2ed73, .internal-fsb-element.-fsb-preset-2c691c15 { -fsb-reusable-id: 71e2ed73; -fsb-reusable-name: v1_feature_container_; background: rgba(255, 97, 97, 1); border-bottom-color: rgba(255, 255, 255, 1); border-bottom-style: solid; border-bottom-width: 1px; color: rgba(255, 255, 255, 1); padding-bottom: 100px; padding-left: 0px; padding-right: 0px; padding-top: 100px; text-align: center; width: 100% } .internal-fsb-element.-fsb-self-259d3db7, .internal-fsb-element.-fsb-preset-259d3db7 { -fsb-reusable-id: 259d3db7; -fsb-reusable-name: v1_feature_body; font-size: 15px; line-height: 1.35em } .internal-fsb-element.-fsb-self-da81cc71, .internal-fsb-element.-fsb-preset-da81cc71 { -fsb-reusable-id: da81cc71; -fsb-reusable-name: v1_blog_category; -moz-text-decoration-line: none; -webkit-text-decoration-line: none; color: rgba(33, 33, 33, 1); font-size: 13px; font-weight: 300; margin-bottom: 5px; margin-right: 30px; text-decoration-line: none } .internal-fsb-element.-fsb-self-2d8e4cab, .internal-fsb-element.-fsb-preset-2d8e4cab { -fsb-inherited-presets: 45242510; -fsb-priority: 100; -fsb-reusable-id: 2d8e4cab; -fsb-reusable-name: v1_suite_button; background: rgba(54, 153, 236, 1); border-bottom-width: 0px; border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; color: rgba(255, 255, 255, 1); line-height: 1.15em; padding-left: 30px; padding-right: 30px; text-align: center } .internal-fsb-element.-fsb-self-2c691c15, .internal-fsb-element.-fsb-preset-2c691c15 { -fsb-inherited-presets: 71e2ed73; -fsb-priority: 100; -fsb-reusable-id: 2c691c15; -fsb-reusable-name: v1_feature_container_shade1_; background: rgba(120, 120, 120, 1); padding-left: 0px; padding-right: 0px; width: 100% }  .-fsb-self-45242510:not([internal-fsb-forward]):hover, .-fsb-preset-45242510:not([internal-fsb-forward]):hover, .-fsb-self-45242510[internal-fsb-forward] > :first-child:hover, .-fsb-preset-45242510[internal-fsb-forward] > :first-child:hover { background: rgba(0, 56, 98, 1) !important; color: rgba(255, 255, 255, 1.0) !important; } .-fsb-self-7e3024a9:not([internal-fsb-forward]):hover, .-fsb-preset-7e3024a9:not([internal-fsb-forward]):hover, .-fsb-self-7e3024a9[internal-fsb-forward] > :first-child:hover, .-fsb-preset-7e3024a9[internal-fsb-forward] > :first-child:hover { color: rgba(0, 56, 98, 1) !important; } [internal-fsb-guid="d6e195be"]:not([internal-fsb-forward]):hover, [internal-fsb-guid="d6e195be"][internal-fsb-forward] > :first-child:hover { color: rgba(0, 56, 98, 1) !important; } .-fsb-self-da81cc71:not([internal-fsb-forward]):hover, .-fsb-preset-da81cc71:not([internal-fsb-forward]):hover, .-fsb-self-da81cc71[internal-fsb-forward] > :first-child:hover, .-fsb-preset-da81cc71[internal-fsb-forward] > :first-child:hover { color: rgba(0, 56, 98, 1) !important; } 
script(type="text/javascript").
  var __animationHelperDelayedRegisterings = [], __animationHelperDelayedAddings = [];
  var AnimationHelper = {
    extensions: {},
    register: function(animationId, extensionInfo) {
      __animationHelperDelayedRegisterings.push(arguments);
      AnimationHelper.extensions[animationId] = extensionInfo;
    },
    add: function(activeAnimationGroups) {
      __animationHelperDelayedAddings.push(arguments);
      
      for (let animation of activeAnimationGroups) {
        var extensionInfo = AnimationHelper.extensions[animation];
        if (extensionInfo) {
          for (let i=0; i<extensionInfo.tracks.length; i++) {
            AnimationHelper.addPrestartStyles(animation, '0', extensionInfo.tracks[i].selectors || [], extensionInfo.tracks[i].properties || []);
          }
        }
      }
    },
    addPrestartStyles: (animationId, guid, selectors, properties) => {
      var prestartId = `prestart-${animationId}`;
      if (document.getElementById(prestartId)) return;
      
      var combinedStyleHashmap = {};
      
      for (var property of properties) {
        for (var selector of selectors) {
          var style = AnimationHelper.getPrestartStyle(guid, selector, property);
        
          if (style) {
            combinedStyleHashmap[property] = style;
            break;
          }
        }
      }
      
      if (Object.keys(combinedStyleHashmap).length != 0) {
        var element = document.createElement('style');
        element.setAttribute('type', 'text/css');
        element.setAttribute('id', prestartId);
        
        var lines = [];
        for (var selector of selectors) {
          lines.push(`[internal-fsb-animation*="animation-group-${animationId}"]${selector}, [internal-fsb-animation*="animation-group-${animationId}"] ${selector} { ${AnimationHelper.getInlineStyleFromHashMap(combinedStyleHashmap)} }`);
        }
        
        element.innerHTML = lines.join(' ');
        
        var firstStyleElement = document.head.getElementsByTagName('STYLE')[0] || null;
        document.head.insertBefore(element, firstStyleElement);
      }
    },
    getPrestartStyle: (guid, selector, property) => {
      var elements = Array.from(document.querySelectorAll(`[internal-fsb-guid="${guid}"]${selector}, [internal-fsb-guid="${guid}"] ${selector}`));
      
      if (elements.length != 0) {
        var computedStyle = window.getComputedStyle(elements[0], null);
        return computedStyle[property] || null;
      }
      
      return null;
    },
    getInlineStyleFromHashMap: (hash) => {
      var results = [];
      for (var key in hash) {
        if (hash.hasOwnProperty(key) && hash[key] != null) {
          results.push(key + ': ' + hash[key]);
        }
      }
      return results.sort().join('; ');
    }
  };
  window.AnimationHelper !== undefined && (function() { AnimationHelper.add([]); })();
