//- Auto[Generating:V1]--->
//- PLEASE DO NOT MODIFY BECAUSE YOUR CHANGES MAY BE LOST.

.
  <!DOCTYPE html>
html(lang=headers && headers.language || 'en')
  head
    meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
    title.
      #{headers && headers.title || 'SoftenStorm Foundation'}
    meta(name="description" content=headers && headers.description || 'We are providing free softwares and services for a better world.')
    meta(name="keywords" content=headers && headers.keywords || '')
    meta(http-equiv="content-language" content=headers && headers.language || 'en')
    meta(http-equiv="content-type" content=headers && headers.contentType || 'UTF-8')
    meta(name="revisit-after" content=headers && headers.revisitAfter || '7 days')
    meta(name="robots" content=headers && headers.robots || 'index, follow')
    meta(property="og:title" content=headers && headers.title || 'SoftenStorm Foundation')
    meta(property="og:url" content=headers && headers.linkUrl || '/')
    meta(property="og:image" content=headers && headers.imageUrl || '')
    meta(property="og:type" content=headers && headers.itemType || 'website')
    meta(property="og:description" content=headers && headers.description || 'We are providing free softwares and services for a better world.')
    meta(property="og:locale" content=headers && headers.contentLocale || 'en_US')
    include _header.pug
  body(style="color: rgba(33, 33, 33, 1); font-family: Inter")
    
    .internal-fsb-begin(internal-fsb-animation="", internal-fsb-guid="0")
      .internal-fsb-begin-layout.internal-fsb-strict-layout
        .col-lg-10.internal-fsb-element.internal-fsb-strict-layout.offset-lg-1(style={'padding-left': '0px', 'padding-right': '0px'}, internal-fsb-class="FlowLayout", internal-fsb-guid="12278ec3")
          span(internal-fsb-init-class="Project.Controls.FlowLayout_6a0e95bb" internal-fsb-init-forward="{'classes': 'col-12 offset-0', 'styles': {}}")
          .col-12.internal-fsb-element(style={'color': 'rgba(0, 26, 120, 1)', 'font-size': '48px', 'font-weight': '300', 'line-height': '1.25em', 'margin-bottom': '30px', 'margin-top': '45px', 'padding-left': '30px', 'padding-right': '30px'}, internal-fsb-guid="c1d6c268")
            | PROVIDING FREE SOFTWARES AND SERVICES FOR A BETTER WORLD
          .internal-fsb-element.internal-fsb-strict-layout(style={'padding-bottom': '10px', 'padding-left': '10px', 'padding-right': '10px', 'text-align': 'center'}, internal-fsb-class="FlowLayout", internal-fsb-guid="b68a23bb")
            .col-12.col-md-4.internal-fsb-element.internal-fsb-stretch.internal-fsb-strict-layout(style={'-ms-flex-wrap': 'nowrap', '-webkit-flex-wrap': 'nowrap', 'flex-wrap': 'nowrap', 'padding-left': '10px', 'padding-right': '10px'}, internal-fsb-class="FlowLayout", internal-fsb-guid="635b118b")
              a.-fsb-preset-45242510.col-12.internal-fsb-element(style={'-ms-flex-wrap': 'wrap', '-webkit-align-content': 'center', '-webkit-flex-wrap': 'wrap', '-webkit-justify-content': 'center', 'align-content': 'center', 'background': 'rgba(0, 134, 235, 1)', 'border-bottom-style': 'none', 'border-left-style': 'none', 'border-right-style': 'none', 'border-top-style': 'none', 'color': 'rgba(255, 255, 255, 1)', 'display': 'flex', 'flex-wrap': 'wrap', 'height': '75px', 'justify-content': 'center'}, href="/stackblend-studio-suite", internal-fsb-guid="ca3776be")
                .internal-fsb-element(internal-fsb-guid="ca3776be-text")
                  | StackBlend – Free Full-Stack Development Studio
            .col-12.col-md-4.internal-fsb-element.internal-fsb-stretch.internal-fsb-strict-layout(style={'-ms-flex-wrap': 'nowrap', '-webkit-flex-wrap': 'nowrap', 'flex-wrap': 'nowrap', 'padding-left': '10px', 'padding-right': '10px'}, internal-fsb-class="FlowLayout", internal-fsb-guid="d315d392")
              a.-fsb-preset-45242510.col-12.internal-fsb-element(style={'-ms-flex-wrap': 'wrap', '-webkit-align-content': 'center', '-webkit-flex-wrap': 'wrap', '-webkit-justify-content': 'center', 'align-content': 'center', 'background': 'rgba(255, 97, 97, 1)', 'border-bottom-style': 'none', 'border-left-style': 'none', 'border-right-style': 'none', 'border-top-style': 'none', 'color': 'rgba(255, 255, 255, 1)', 'display': 'flex', 'flex-wrap': 'wrap', 'height': '75px', 'justify-content': 'center'}, href="/livebook-dictionary", internal-fsb-guid="16c97c73")
                .internal-fsb-element(internal-fsb-guid="a2d95e8d")
                  | LiveBook – Free Scanning and Reverse Dictionary
            .col-12.col-md-4.internal-fsb-element.internal-fsb-strict-layout(style={'padding-left': '10px', 'padding-right': '10px'}, internal-fsb-class="FlowLayout", internal-fsb-guid="910b6359")
              a.-fsb-preset-45242510.col-12.internal-fsb-element(style={'-ms-flex-wrap': 'wrap', '-webkit-align-content': 'center', '-webkit-flex-wrap': 'wrap', '-webkit-justify-content': 'center', 'align-content': 'center', 'background': 'rgba(0, 134, 235, 1)', 'border-bottom-style': 'none', 'border-left-style': 'none', 'border-right-style': 'none', 'border-top-style': 'none', 'color': 'rgba(255, 255, 255, 1)', 'display': 'flex', 'flex-wrap': 'wrap', 'height': '75px', 'justify-content': 'center'}, href="https://www.matchflutter.com", internal-fsb-guid="b5ed02dc")
                .internal-fsb-element(internal-fsb-guid="8ee43c19")
                  | MatchFlutter – Social Network for Workplace Ethics
          .col-12.internal-fsb-element(style={'background': 'rgba(222, 220, 222, 1)', 'padding-bottom': '55px', 'padding-left': '20px', 'padding-right': '20px', 'padding-top': '25px'}, internal-fsb-guid="0e761554")
            .internal-fsb-element.internal-fsb-strict-layout(style={'padding-left': '0px', 'padding-right': '0px'}, internal-fsb-class="FlowLayout", internal-fsb-guid="edeeacab")
              .col-12.internal-fsb-element(style={'font-size': '22px', 'font-weight': '300', 'margin-bottom': '20px', 'text-align': 'center'}, internal-fsb-guid="01614c7b")
                | We currently focus on
              .-fsb-preset-7451b567.col-12.col-sm-6.internal-fsb-element(style={'-fsb-inherited-presets': '7451b567', 'background': 'rgba(226, 28, 33, 0.75)', 'padding-left': '0px', 'padding-right': '0px', 'text-align': 'center', 'width': '100%'}, internal-fsb-guid="4796d69d")
                .internal-fsb-element(style={'-webkit-background-size': 'cover', '-webkit-opacity': '0.25', 'background-image': 'url("https://static.softenstorm.com/785109361-huge.jpg")', 'background-position': '0px bottom', 'background-size': 'cover', 'bottom': '0px', 'height': '100%', 'left': '0px', 'opacity': '0.25', 'padding-left': '0px', 'padding-right': '0px', 'position': 'absolute', 'right': '0px', 'top': '0px', 'width': '100%'}, internal-fsb-guid="aeec74d1")
                .internal-fsb-element(style={'width': '100%'}, internal-fsb-guid="cad8960a")
                  | Literacy
              .-fsb-self-7451b567.col-12.col-sm-6.internal-fsb-element(internal-fsb-guid="7451b567")
                .internal-fsb-element(style={'-webkit-background-size': 'cover', '-webkit-opacity': '0.25', 'background-image': 'url("https://static.softenstorm.com/shutterstock_1734166052.jpg")', 'background-position': '0px bottom', 'background-size': 'cover', 'bottom': '0px', 'height': '100%', 'left': '0px', 'opacity': '0.25', 'padding-left': '0px', 'padding-right': '0px', 'position': 'absolute', 'right': '0px', 'top': '0px', 'width': '100%'}, internal-fsb-guid="3c67a4a2")
                .internal-fsb-element(style={'width': '100%'}, internal-fsb-guid="02b00711")
                  | Healthy
          .internal-fsb-element.internal-fsb-strict-layout(style={'padding-bottom': '30px', 'padding-top': '30px'}, internal-fsb-class="FlowLayout", internal-fsb-guid="2419c399")
            .col-12.col-lg-8.col-md-10.internal-fsb-element.offset-lg-2.offset-md-1(style={'font-size': '21px', 'font-weight': '300', 'line-height': '1.5em', 'margin-bottom': '30px', 'margin-top': '5px', 'text-align': 'center'}, internal-fsb-guid="a0803d07")
              | "What would human life be if we had no courage to attempt improving their intelligence on necessary things?"
            .col-12.internal-fsb-element(style={'font-size': '14px', 'font-style': 'italic', 'font-weight': '300', 'line-height': '1.25em', 'margin-bottom': '30px', 'text-align': 'center'}, internal-fsb-guid="15c490e1")
              | Our Passion - SoftenStorm Foundation (Jatupon S.)
            .col-12.internal-fsb-element(style={'margin-bottom': '35px', 'text-align': 'center'}, internal-fsb-guid="50c08d52")
              .svg
                svg(height="54", width="54", xmlns="http://www.w3.org/2000/svg", xmlns:svg="http://www.w3.org/2000/svg")
                  |  Created with SVG-edit - https://github.com/SVG-Edit/svgedit
                  g.layer
                    title
                      | Layer 1
                    path(d="m0.49389,44.42017l16,-28.00001l16.00001,28.00001l-32.00001,0z", fill="transparent", fillOpacity="0.01", id="svg_1", stroke="#000000")
                    path(d="m21.74999,44.5l16,-28.00001l16.00001,28.00001l-32.00001,0z", fill="transparent", fillOpacity="0.01", id="svg_6", stroke="#000000")
                    path(d="m11.24999,35l16,-28.00001l16.00001,28.00001l-32.00001,0z", fill="transparent", fillOpacity="0.01", id="svg_7", stroke="#000000")
            .col-12.internal-fsb-element(style={'font-size': '13px', 'font-weight': '300', 'text-align': 'center'}, internal-fsb-guid="d0aca03e")
              | ©2020-2023 by SoftenStorm Foundation
            a.internal-fsb-element(style={'-moz-text-decoration-line': 'none', '-webkit-text-decoration-line': 'none', 'color': 'rgba(33, 33, 33, 1)', 'font-size': '13px', 'font-weight': '300', 'text-align': 'center', 'text-decoration-line': 'none', 'width': '100vw'}, href="https://www.stackblend.org", internal-fsb-guid="3dd0b5c6")
              .internal-fsb-element(internal-fsb-guid="1b7b5124")
                | Designed in StackBlend Studio
    script(type="text/javascript" src="/js/libraries/polyfills/polyfill.io.js")
    script(type="text/javascript" src="/js/Embed.bundle.js")
    script(type="text/javascript").
      var Controller = /** @class */ (function () {
          function Controller() {
              this.dictionary = {};
          }
          Controller.prototype.register = function (guid, eventName, functionName, capturing, forward) {
              if (!this.dictionary[guid])
                  this.dictionary[guid] = {};
              this.dictionary[guid][eventName] = [functionName, capturing, forward];
          };
          Controller.prototype.listen = function (guid) {
              if (this.dictionary[guid]) {
                  for (var key in this.dictionary[guid]) {
                      if (this.dictionary[guid].hasOwnProperty(key)) {
                          var eventName = key;
                          var functionName = this.dictionary[guid][key][0];
                          var capturing = !!this.dictionary[guid][key][1];
                          var forward = this.dictionary[guid][key][2];
                          var element = (!forward) ? this.getElementUsingGUID(guid) : this.getElementUsingGUID(guid).firstElementChild;
                          element.addEventListener(eventName, this[functionName].bind(this), capturing);
                      }
                  }
              }
          };
          Controller.prototype.getElementUsingGUID = function (guid) {
              return document.querySelectorAll('[internal-fsb-guid="' + guid + '"]')[0];
          };
          return Controller;
      }());
      var controller = new Controller();
      TestHelper.identify();
      function ready(a) { "loading" != document.readyState ? a(new Event('ready')) : document.addEventListener ? document.addEventListener("DOMContentLoaded", a) : (document.onreadystatechange = function (e) { "complete" == document.readyState && a(e); }); }
      ;
      
    <link internal-fsb-link="true" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" class="internal-fsb-accessory internal-fsb-font">
    script(type="text/javascript").
      window.data = !{JSON.stringify(data)};
    include _footer.pug

//- <--- Auto[Generating:V1]
//- PLEASE DO NOT MODIFY BECAUSE YOUR CHANGES MAY BE LOST.