//- Auto[Generating:V1]--->
//- PLEASE DO NOT MODIFY BECAUSE YOUR CHANGES MAY BE LOST.

.
  <!DOCTYPE html>
html(lang=headers && headers.language || 'en')
  head
    meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
    title.
      #{headers && headers.title || 'LiveBook - Free Scanning and Reverse Dictionary'}
    meta(name="description" content=headers && headers.description || '')
    meta(name="keywords" content=headers && headers.keywords || '')
    meta(http-equiv="content-language" content=headers && headers.language || 'en')
    meta(http-equiv="content-type" content=headers && headers.contentType || 'UTF-8')
    meta(name="revisit-after" content=headers && headers.revisitAfter || '7 days')
    meta(name="robots" content=headers && headers.robots || 'index, follow')
    meta(property="og:title" content=headers && headers.title || 'LiveBook - Free Scanning and Reverse Dictionary')
    meta(property="og:url" content=headers && headers.linkUrl || '/livebook-dictionary')
    meta(property="og:image" content=headers && headers.imageUrl || '')
    meta(property="og:type" content=headers && headers.itemType || 'website')
    meta(property="og:description" content=headers && headers.description || '')
    meta(property="og:locale" content=headers && headers.contentLocale || 'en_US')
    include ../_header.pug
  body(style="font-family: Inter")
    
    .internal-fsb-begin(internal-fsb-animation="", internal-fsb-guid="0")
      .internal-fsb-begin-layout.internal-fsb-strict-layout
        .internal-fsb-element.internal-fsb-strict-layout(style={'padding-left': '0px', 'padding-right': '0px'}, internal-fsb-class="FlowLayout", internal-fsb-guid="9c4a0426")
          .col-md-10.internal-fsb-element.internal-fsb-strict-layout.offset-md-1(style={'padding-left': '0px', 'padding-right': '0px'}, internal-fsb-class="FlowLayout", internal-fsb-guid="d4b93198")
            span(internal-fsb-init-class="Project.Controls.FlowLayout_6a0e95bb" internal-fsb-init-forward="{'classes': 'col-12 offset-0', 'styles': {}}")
            .internal-fsb-element.internal-fsb-strict-layout(style={'background': 'rgba(54, 153, 236, 1)', 'color': 'rgba(255, 255, 255, 1)', 'font-size': '18px', 'font-weight': '300', 'line-height': '1.35em', 'padding-bottom': '25px', 'padding-left': '0px', 'padding-right': '0px', 'padding-top': '80px'}, internal-fsb-class="FlowLayout", internal-fsb-guid="d335ed4d")
              .col-8.col-md-4.col-sm-6.col-xl-2.internal-fsb-element.offset-2.offset-md-4.offset-sm-3.offset-xl-5(style={padding: '0px'}, internal-fsb-forward="1", internal-fsb-guid="248e44d0")
                img(style={'display': 'block', 'height': '100%', 'padding': '0px', 'width': '100%'}, src="https://static.softenstorm.com/icon.webp")
              .col-md-8.internal-fsb-element.offset-md-2(style={'margin-top': '15px', 'text-align': 'center'}, internal-fsb-guid="1c3c1444")
                | SOFTENSTORM's LIVEBOOK is a free dictionary app which uses a rear camera to scanning texts, capture and lookup words in its dictionary, and translate the definitions using a highly sophisticated translation engine from Google. If you know a "pen scanner" before, this is the same but more enhanced and works on the iOS platform.
                | 
                div
                div
                div
                div
                  br
                div
                  | It's a free scanning dictionary app among other text recognition ones that can assist students and enthusiasts to learn new words from texts but doesn't ruin their English learning habits. LiveBook's dictionary has more than 150,000 words including technical terms and phrases.
                  | 
                div
                  | ​
                  | 
                div
                  | You can use SoftenStorm's LiveBook on an airplane or even in a rural area because it doesn't require the internet.
              .internal-fsb-element(style={'margin-top': '30px', 'padding-left': '0px', 'padding-right': '0px', 'text-align': 'center', 'width': '100%'}, internal-fsb-guid="17dca413")
                a.internal-fsb-element(style={'display': 'inline-block', 'margin-right': '5px'}, href="https://twitter.com/ScanDictionary", internal-fsb-guid="8eaeb1ec")
                  .internal-fsb-element(style={padding: '0px'}, internal-fsb-forward="1", internal-fsb-guid="386c54d0")
                    img(style={'display': 'block', 'height': '100%', 'padding': '0px', 'width': '100%'}, src="https://static.softenstorm.com/twitter.webp")
                a.internal-fsb-element(style={'display': 'inline-block', 'margin-left': '5px'}, href="https://www.facebook.com/ScanDictionary", internal-fsb-guid="e91ae58b")
                  .internal-fsb-element(style={padding: '0px'}, internal-fsb-forward="1", internal-fsb-guid="5259780b")
                    img(style={'display': 'block', 'height': '100%', 'padding': '0px', 'width': '100%'}, src="https://static.softenstorm.com/facebook.webp")
            .internal-fsb-element(style={'-ms-overflow-x': 'hidden', '-ms-overflow-y': 'hidden', 'background': 'rgba(222, 220, 222, 1)', 'overflow-x': 'hidden', 'overflow-y': 'hidden', 'padding-bottom': '200px', 'padding-left': '0px', 'padding-right': '0px', 'padding-top': '200px', 'position': 'relative', 'text-align': 'center', 'width': '100%'}, internal-fsb-guid="299e8800")
              .internal-fsb-element(style={'left': '0px', 'padding-left': '0px', 'padding-right': '0px', 'position': 'absolute', 'right': '0px', 'top': '0px', 'width': '100%'}, internal-fsb-guid="1c0d3bb3")
                .col-12.d-lg-block.d-md-block.d-none.d-sm-block.d-xl-block.internal-fsb-element(style={padding: '0px'}, internal-fsb-forward="1", internal-fsb-guid="871d07d1")
                  video(style={'display': 'block', 'height': '100%', 'left': '-12.5%', 'padding': '0px', 'position': 'relative', 'width': '125%'}, autoplay="autoplay", loop="loop", muted="muted", playsinline="playsinline", src="https://static.softenstorm.com/Lavender_-_17156.webm.1080p.vp9.webm")
                .col-12.d-block.d-lg-none.d-md-none.d-sm-none.d-xl-none.internal-fsb-element(style={padding: '0px'}, internal-fsb-forward="1", internal-fsb-guid="99c90b21")
                  video(style={'display': 'block', 'height': '100%', 'padding': '0px', 'position': 'relative', 'width': '200%'}, autoplay="autoplay", loop="loop", muted="muted", playsinline="playsinline", src="https://static.softenstorm.com/Lavender_-_17156.webm.1080p.vp9.webm")
              .internal-fsb-element(style={'padding-left': '0px', 'padding-right': '0px', 'position': 'relative', 'width': '100%'}, internal-fsb-guid="c6ae6932")
                a.-fsb-preset-2d8e4cab.internal-fsb-element(style={'-fsb-inherited-presets': '2d8e4cab', '-webkit-border-radius': '100px 100px 100px 100px', 'border-radius': '100px 100px 100px 100px', 'display': 'inline-block', 'padding-left': '50px', 'padding-right': '50px'}, href="https://apps.apple.com/us/app/livebook-scanning-dictionary/id1554018601#?platform=iphone", internal-fsb-guid="a57453b0")
                  .internal-fsb-element(internal-fsb-guid="a57453b0-text")
                    | Download This Free Dictionary App
          .internal-fsb-element.internal-fsb-strict-layout(style={'padding-left': '0px', 'padding-right': '0px', 'position': 'relative'}, internal-fsb-class="FlowLayout", internal-fsb-guid="463b045e")
            .internal-fsb-element(style={'-webkit-background-size': 'cover', 'background-image': 'url("https://static.softenstorm.com/785109361-huge.jpg")', 'background-position': '0px bottom', 'background-size': 'cover', 'bottom': '0px', 'height': '100%', 'left': '0px', 'padding-left': '0px', 'padding-right': '0px', 'position': 'absolute', 'right': '0px', 'top': '0px', 'width': '100%'}, internal-fsb-guid="e3b2d34e")
            .-fsb-self-71e2ed73.internal-fsb-element(internal-fsb-guid="71e2ed73")
              .-fsb-self-a4370367.col-12.internal-fsb-element(internal-fsb-guid="a4370367")
                | Perfect for Learning English From Books
              .-fsb-self-8215a890.internal-fsb-element(internal-fsb-guid="8215a890")
              .-fsb-self-259d3db7.col-12.col-md-8.col-sm-10.internal-fsb-element.offset-md-2.offset-sm-1(internal-fsb-guid="259d3db7")
                | This free dictionary app can point towards unfamiliar words on books and newspapers to capture and lookup their definitions, which you can translate them into 64 languages.
            .-fsb-preset-71e2ed73.-fsb-self-2c691c15.col-12.col-lg-3.col-sm-6.internal-fsb-element(internal-fsb-guid="2c691c15")
              .-fsb-preset-a4370367.col-12.internal-fsb-element(style={'-fsb-inherited-presets': 'a4370367'}, internal-fsb-guid="e5bc92c4")
                | Pronunciation
              .-fsb-preset-8215a890.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': '8215a890'}, internal-fsb-guid="b0522ea3")
              .-fsb-preset-259d3db7.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '259d3db7'}, internal-fsb-guid="6adb83ac")
                | Practice pronunciation exercises, which also provide additional feedbacks right from a marvelous native accent dictation and recognition engine of the Apple iOS platform.
            .-fsb-preset-71e2ed73.col-12.col-lg-3.col-sm-6.internal-fsb-element(style={'-fsb-inherited-presets': '71e2ed73', 'background': 'rgba(255, 0, 0, 0.5)', 'padding-left': '0px', 'padding-right': '0px', 'width': '100%'}, internal-fsb-guid="12789728")
              .-fsb-preset-a4370367.col-12.internal-fsb-element(style={'-fsb-inherited-presets': 'a4370367'}, internal-fsb-guid="b38bec3a")
                | English Structure
              .-fsb-preset-8215a890.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': '8215a890'}, internal-fsb-guid="6da16185")
              .-fsb-preset-259d3db7.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '259d3db7'}, internal-fsb-guid="24e42701")
                | Analyze complex sentences, which contain multiple clauses and phrases, so that you can understand them.
            .-fsb-preset-2c691c15.col-12.col-lg-3.col-sm-6.internal-fsb-element(style={'-fsb-inherited-presets': '2c691c15', 'padding-left': '0px', 'padding-right': '0px', 'width': '100%'}, internal-fsb-guid="6d237e2a")
              .-fsb-preset-a4370367.col-12.internal-fsb-element(style={'-fsb-inherited-presets': 'a4370367'}, internal-fsb-guid="778ee9d2")
                | Review
              .-fsb-preset-8215a890.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': '8215a890'}, internal-fsb-guid="683ddcc1")
              .-fsb-preset-259d3db7.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '259d3db7'}, internal-fsb-guid="425e0280")
                | Challenge yourself with quizzes generated from the past lookups.
            .-fsb-preset-71e2ed73.col-12.col-lg-3.col-sm-6.internal-fsb-element(style={'-fsb-inherited-presets': '71e2ed73', 'background': 'rgba(255, 0, 0, 0.5)', 'padding-left': '0px', 'padding-right': '0px', 'width': '100%'}, internal-fsb-guid="b48d5d7c")
              .-fsb-preset-a4370367.col-12.internal-fsb-element(style={'-fsb-inherited-presets': 'a4370367'}, internal-fsb-guid="6ea7b5c4")
                | Reverse Lookup
              .-fsb-preset-8215a890.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': '8215a890'}, internal-fsb-guid="d8c0ebea")
              .-fsb-preset-259d3db7.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '259d3db7'}, internal-fsb-guid="c5c3c84a")
                | Reverse lookup by using keywords contained in definitions.
          .col-md-10.internal-fsb-element.internal-fsb-strict-layout.offset-md-1(style={'padding-left': '0px', 'padding-right': '0px'}, internal-fsb-class="FlowLayout", internal-fsb-guid="8cd721e1")
            .internal-fsb-element.internal-fsb-strict-layout(style={'padding-left': '0px', 'padding-right': '0px'}, internal-fsb-class="FlowLayout", internal-fsb-guid="6d709cd7")
              .internal-fsb-element(style={'padding-left': '0px', 'padding-right': '0px', 'width': '100%'}, internal-fsb-guid="0dad4cac")
                .internal-fsb-element(style={'-ms-overflow-x': 'auto', 'overflow-x': 'auto', 'padding-left': '0px', 'padding-right': '0px', 'white-space': 'nowrap', 'width': '100%'}, internal-fsb-guid="445eecac")
                  .-fsb-self-eb281339.internal-fsb-element(internal-fsb-guid="eb281339")
                    .internal-fsb-element(style={padding: '0px'}, internal-fsb-forward="1", internal-fsb-guid="6c6a36b7")
                      img(style={'cursor': 'pointer', 'display': 'block', 'height': '100%', 'padding': '0px', 'width': '100%'}, src="https://static.softenstorm.com/livebook/screenshots/6.5---1.jpg")
                    .-fsb-self-8b145a01.internal-fsb-element.internal-fsb-stretch.internal-fsb-strict-layout(internal-fsb-class="FlowLayout", internal-fsb-guid="8b145a01")
                      .-fsb-self-66e37669.col-md-4.internal-fsb-element.offset-md-1(internal-fsb-guid="66e37669")
                        .internal-fsb-element(style={padding: '0px'}, internal-fsb-forward="1", internal-fsb-guid="91aa5700")
                          img(style={'display': 'inline-block', 'height': '100%', 'max-width': '400px', 'padding': '0px', 'width': '100%'}, src="https://static.softenstorm.com/livebook/screenshots/6.5---1.jpg")
                      .-fsb-self-937ee3cc.col-lg-4.col-md-5.d-lg-block.d-md-block.d-none.d-sm-none.d-xl-block.internal-fsb-element.offset-lg-2.offset-md-1(internal-fsb-guid="937ee3cc")
                        .-fsb-self-027229d9.col-12.internal-fsb-element(internal-fsb-guid="027229d9")
                          | Scan and Lookup
                        .-fsb-self-2846c888.col-12.internal-fsb-element(internal-fsb-guid="2846c888")
                          | Use a rear camera in the back of your phone to point to any words on pages in books and newspapers to lookup them. It uses a camera OCR engine to perform scanning text.
                      .-fsb-preset-937ee3cc.d-block.d-lg-none.d-md-none.d-sm-block.d-xl-none.internal-fsb-element(style={'-fsb-inherited-presets': '937ee3cc', 'background': 'rgba(255, 255, 255, 0.95)', 'bottom': '0px', 'left': '0px', 'padding-top': '15px', 'position': 'fixed', 'right': '0px', 'top': 'auto', 'z-index': '2000'}, internal-fsb-guid="8ba04249")
                        .-fsb-preset-027229d9.col-12.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': '027229d9'}, internal-fsb-guid="7ab33e23")
                          | Scan and Lookup
                        .-fsb-preset-2846c888.col-12.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': '2846c888'}, internal-fsb-guid="2d85d0ec")
                          | Use a rear camera in the back of your phone to point to any words on pages in books and newspapers to lookup them. It uses a camera OCR engine to perform scanning text.
                      .internal-fsb-element(style={'cursor': 'pointer', 'position': 'absolute', 'right': '20px', 'top': '20px'}, internal-fsb-guid="5ccd9855")
                        .html
                          svg.bi.bi-x-lg(fill="currentColor", height="30", viewBox="0 0 16 16", width="30", xmlns="http://www.w3.org/2000/svg")
                            path(d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z")
                  .-fsb-preset-eb281339.internal-fsb-element(style={'-fsb-inherited-presets': 'eb281339', 'width': '486.5px'}, internal-fsb-guid="b4947569")
                    .internal-fsb-element(style={padding: '0px'}, internal-fsb-forward="1", internal-fsb-guid="32787b7d")
                      img(style={'cursor': 'pointer', 'display': 'block', 'height': '100%', 'padding': '0px', 'width': '100%'}, src="https://static.softenstorm.com/livebook/screenshots/12.9-inch-2.jpg")
                    .-fsb-preset-8b145a01.internal-fsb-element.internal-fsb-layer-off.internal-fsb-stretch.internal-fsb-strict-layout(style={'-fsb-inherited-presets': '8b145a01'}, internal-fsb-class="FlowLayout", internal-fsb-guid="60ec4192")
                      .-fsb-preset-66e37669.col-md-4.internal-fsb-element.offset-md-1(style={'-fsb-inherited-presets': '66e37669'}, internal-fsb-guid="b82cd4e7")
                        .internal-fsb-element(style={padding: '0px'}, internal-fsb-forward="1", internal-fsb-guid="5e38a427")
                          img(style={'display': 'inline-block', 'height': '100%', 'max-width': '400px', 'padding': '0px', 'width': '100%'}, src="https://static.softenstorm.com/livebook/screenshots/6.5---2.jpg")
                      .-fsb-preset-937ee3cc.col-lg-4.col-md-5.d-lg-block.d-md-block.d-none.d-sm-none.d-xl-block.internal-fsb-element.offset-lg-2.offset-md-1(style={'': 'undefined', '-fsb-inherited-presets': '937ee3cc'}, internal-fsb-guid="a1317e45")
                        .-fsb-preset-027229d9.col-12.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': '027229d9'}, internal-fsb-guid="8b9bacaa")
                          | Side Menu
                        .-fsb-preset-2846c888.col-12.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': '2846c888'}, internal-fsb-guid="b814d309")
                          | Use side menu to access a perfect toolset for learning English, including, history of vocabulary lookups, taking quizzes, practicing pronunciations, and analyzing complex sentences.
                      .-fsb-preset-937ee3cc.d-block.d-lg-none.d-md-none.d-sm-block.d-xl-none.internal-fsb-element(style={'-fsb-inherited-presets': '937ee3cc', 'background': 'rgba(255, 255, 255, 0.95)', 'bottom': '0px', 'left': '0px', 'padding-top': '15px', 'position': 'fixed', 'right': '0px', 'top': 'auto', 'z-index': '2000'}, internal-fsb-guid="36e4c151")
                        .-fsb-preset-027229d9.col-12.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': '027229d9'}, internal-fsb-guid="4e604e4d")
                          | Side Menu
                        .-fsb-preset-2846c888.col-12.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': '2846c888'}, internal-fsb-guid="495b8eb8")
                          | Use side menu to access a perfect toolset for learning English, including, history of vocabulary lookups, taking quizzes, practicing pronunciations, and analyzing complex sentences.
                      .internal-fsb-element(style={'cursor': 'pointer', 'position': 'absolute', 'right': '20px', 'top': '20px'}, internal-fsb-guid="8e45ab71")
                        .html
                          svg.bi.bi-x-lg(fill="currentColor", height="30", viewBox="0 0 16 16", width="30", xmlns="http://www.w3.org/2000/svg")
                            path(d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z")
                  .-fsb-preset-eb281339.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': 'eb281339'}, internal-fsb-guid="a4a94d38")
                    .internal-fsb-element(style={padding: '0px'}, internal-fsb-forward="1", internal-fsb-guid="c40248e3")
                      img(style={'cursor': 'pointer', 'display': 'block', 'height': '100%', 'padding': '0px', 'width': '100%'}, src="https://static.softenstorm.com/livebook/screenshots/6.5---3.jpg")
                    .-fsb-preset-8b145a01.internal-fsb-element.internal-fsb-layer-off.internal-fsb-stretch.internal-fsb-strict-layout(style={'-fsb-inherited-presets': '8b145a01'}, internal-fsb-class="FlowLayout", internal-fsb-guid="9b8cc61a")
                      .-fsb-preset-66e37669.col-md-4.internal-fsb-element.offset-md-1(style={'-fsb-inherited-presets': '66e37669'}, internal-fsb-guid="7c2d6e10")
                        .internal-fsb-element(style={padding: '0px'}, internal-fsb-forward="1", internal-fsb-guid="84435248")
                          img(style={'display': 'inline-block', 'height': '100%', 'max-width': '400px', 'padding': '0px', 'width': '100%'}, src="https://static.softenstorm.com/livebook/screenshots/6.5---3.jpg")
                      .-fsb-preset-937ee3cc.col-lg-4.col-md-5.d-lg-block.d-md-block.d-none.d-sm-none.d-xl-block.internal-fsb-element.offset-lg-2.offset-md-1(style={'': 'undefined', '-fsb-inherited-presets': '937ee3cc'}, internal-fsb-guid="d3aa9656")
                        .-fsb-preset-027229d9.col-12.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': '027229d9'}, internal-fsb-guid="2ce49c4e")
                          | Translate
                        .-fsb-preset-2846c888.col-12.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': '2846c888'}, internal-fsb-guid="306b9b19")
                          | Translate any definitions into 64 languages worldwide, using a highly sophisticated translation engine from Google.
                      .-fsb-preset-937ee3cc.d-block.d-lg-none.d-md-none.d-sm-block.d-xl-none.internal-fsb-element(style={'-fsb-inherited-presets': '937ee3cc', 'background': 'rgba(255, 255, 255, 0.95)', 'bottom': '0px', 'left': '0px', 'padding-top': '15px', 'position': 'fixed', 'right': '0px', 'top': 'auto', 'z-index': '2000'}, internal-fsb-guid="2933d19b")
                        .-fsb-preset-027229d9.col-12.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': '027229d9'}, internal-fsb-guid="3d598e82")
                          | Translate
                        .-fsb-preset-2846c888.col-12.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': '2846c888'}, internal-fsb-guid="660c4e6a")
                          | Translate any definitions into 64 languages worldwide, using a highly sophisticated translation engine from Google.
                      .internal-fsb-element(style={'cursor': 'pointer', 'position': 'absolute', 'right': '20px', 'top': '20px'}, internal-fsb-guid="9a88d6d8")
                        .html
                          svg.bi.bi-x-lg(fill="currentColor", height="30", viewBox="0 0 16 16", width="30", xmlns="http://www.w3.org/2000/svg")
                            path(d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z")
                  .-fsb-preset-eb281339.internal-fsb-element(style={'-fsb-inherited-presets': 'eb281339', 'width': '486.5px'}, internal-fsb-guid="63b70426")
                    .internal-fsb-element(style={padding: '0px'}, internal-fsb-forward="1", internal-fsb-guid="19427a27")
                      img(style={'cursor': 'pointer', 'display': 'block', 'height': '100%', 'padding': '0px', 'width': '100%'}, src="https://static.softenstorm.com/livebook/screenshots/12.9-inch-4.jpg")
                    .-fsb-preset-8b145a01.internal-fsb-element.internal-fsb-layer-off.internal-fsb-stretch.internal-fsb-strict-layout(style={'-fsb-inherited-presets': '8b145a01'}, internal-fsb-class="FlowLayout", internal-fsb-guid="da5d03dd")
                      .-fsb-preset-66e37669.col-md-4.internal-fsb-element.offset-md-1(style={'-fsb-inherited-presets': '66e37669'}, internal-fsb-guid="2d96679d")
                        .internal-fsb-element(style={padding: '0px'}, internal-fsb-forward="1", internal-fsb-guid="d545698c")
                          img(style={'display': 'inline-block', 'height': '100%', 'max-width': '400px', 'padding': '0px', 'width': '100%'}, src="https://static.softenstorm.com/livebook/screenshots/6.5---4.jpg")
                      .-fsb-preset-937ee3cc.col-lg-4.col-md-5.d-lg-block.d-md-block.d-none.d-sm-none.d-xl-block.internal-fsb-element.offset-lg-2.offset-md-1(style={'': 'undefined', '-fsb-inherited-presets': '937ee3cc'}, internal-fsb-guid="c6721711")
                        .-fsb-preset-027229d9.col-12.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': '027229d9'}, internal-fsb-guid="3cc0d991")
                          | Complex Sentence
                        .-fsb-preset-2846c888.col-12.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': '2846c888'}, internal-fsb-guid="22c5d984")
                          | Analyze complex sentence structures and understand what the author wants to convey. You can scan a whole confusing paragraph from books and newspapers by using the scan button on the upper right corner.
                      .-fsb-preset-937ee3cc.d-block.d-lg-none.d-md-none.d-sm-block.d-xl-none.internal-fsb-element(style={'-fsb-inherited-presets': '937ee3cc', 'background': 'rgba(255, 255, 255, 0.95)', 'bottom': '0px', 'left': '0px', 'padding-top': '15px', 'position': 'fixed', 'right': '0px', 'top': 'auto', 'z-index': '2000'}, internal-fsb-guid="041ba915")
                        .-fsb-preset-027229d9.col-12.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': '027229d9'}, internal-fsb-guid="dcb96012")
                          | Complex Sentence
                        .-fsb-preset-2846c888.col-12.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': '2846c888'}, internal-fsb-guid="a3ac9964")
                          | Analyze complex sentence structures and understand what the author wants to convey. You can scan a whole confusing paragraph from books and newspapers by using the scan button on the upper right corner.
                      .internal-fsb-element(style={'cursor': 'pointer', 'position': 'absolute', 'right': '20px', 'top': '20px'}, internal-fsb-guid="a6e85b59")
                        .html
                          svg.bi.bi-x-lg(fill="currentColor", height="30", viewBox="0 0 16 16", width="30", xmlns="http://www.w3.org/2000/svg")
                            path(d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z")
                  .-fsb-preset-eb281339.internal-fsb-element(style={'-fsb-inherited-presets': 'eb281339', 'width': '486.5px'}, internal-fsb-guid="e228e08c")
                    .internal-fsb-element(style={padding: '0px'}, internal-fsb-forward="1", internal-fsb-guid="82c719d6")
                      img(style={'cursor': 'pointer', 'display': 'block', 'height': '100%', 'padding': '0px', 'width': '100%'}, src="https://static.softenstorm.com/livebook/screenshots/12.9-inch-5.jpg")
                    .-fsb-preset-8b145a01.internal-fsb-element.internal-fsb-layer-off.internal-fsb-stretch.internal-fsb-strict-layout(style={'-fsb-inherited-presets': '8b145a01'}, internal-fsb-class="FlowLayout", internal-fsb-guid="9466e980")
                      .-fsb-preset-66e37669.col-md-4.internal-fsb-element.offset-md-1(style={'-fsb-inherited-presets': '66e37669'}, internal-fsb-guid="6422d889")
                        .internal-fsb-element(style={padding: '0px'}, internal-fsb-forward="1", internal-fsb-guid="e9442b8d")
                          img(style={'display': 'inline-block', 'height': '100%', 'max-width': '400px', 'padding': '0px', 'width': '100%'}, src="https://static.softenstorm.com/livebook/screenshots/6.5---5.jpg")
                      .-fsb-preset-937ee3cc.col-lg-4.col-md-5.d-lg-block.d-md-block.d-none.d-sm-none.d-xl-block.internal-fsb-element.offset-lg-2.offset-md-1(style={'': 'undefined', '-fsb-inherited-presets': '937ee3cc'}, internal-fsb-guid="235b4299")
                        .-fsb-preset-027229d9.col-12.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': '027229d9'}, internal-fsb-guid="b6c4b1c8")
                          | Pronunciation
                        .-fsb-preset-2846c888.col-12.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': '2846c888'}, internal-fsb-guid="1b57c102")
                          | Practice pronunciation exercises by listening carefully to an instructor and answer when prompting right from a marvelous native accent dictation and recognition engine of the Apple iOS platform.
                      .-fsb-preset-937ee3cc.d-block.d-lg-none.d-md-none.d-sm-block.d-xl-none.internal-fsb-element(style={'-fsb-inherited-presets': '937ee3cc', 'background': 'rgba(255, 255, 255, 0.95)', 'bottom': '0px', 'left': '0px', 'padding-top': '15px', 'position': 'fixed', 'right': '0px', 'top': 'auto', 'z-index': '2000'}, internal-fsb-guid="bb61d153")
                        .-fsb-preset-027229d9.col-12.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': '027229d9'}, internal-fsb-guid="4d8a0d6a")
                          | Pronunciation
                        .-fsb-preset-2846c888.col-12.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': '2846c888'}, internal-fsb-guid="ad61eb00")
                          | Practice pronunciation exercises by listening carefully to an instructor and answer when prompting right from a marvelous native accent dictation and recognition engine of the Apple iOS platform.
                      .internal-fsb-element(style={'cursor': 'pointer', 'position': 'absolute', 'right': '20px', 'top': '20px'}, internal-fsb-guid="11eed0a2")
                        .html
                          svg.bi.bi-x-lg(fill="currentColor", height="30", viewBox="0 0 16 16", width="30", xmlns="http://www.w3.org/2000/svg")
                            path(d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z")
                  .-fsb-preset-eb281339.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': 'eb281339'}, internal-fsb-guid="6750831b")
                    .internal-fsb-element(style={padding: '0px'}, internal-fsb-forward="1", internal-fsb-guid="cced2972")
                      img(style={'cursor': 'pointer', 'display': 'block', 'height': '100%', 'padding': '0px', 'width': '100%'}, src="https://static.softenstorm.com/livebook/screenshots/6.5---6.jpg")
                    .-fsb-preset-8b145a01.internal-fsb-element.internal-fsb-layer-off.internal-fsb-stretch.internal-fsb-strict-layout(style={'-fsb-inherited-presets': '8b145a01'}, internal-fsb-class="FlowLayout", internal-fsb-guid="4990d0bb")
                      .-fsb-preset-66e37669.col-md-4.internal-fsb-element.offset-md-1(style={'-fsb-inherited-presets': '66e37669'}, internal-fsb-guid="953e550a")
                        .internal-fsb-element(style={padding: '0px'}, internal-fsb-forward="1", internal-fsb-guid="56e85e45")
                          img(style={'display': 'inline-block', 'height': '100%', 'max-width': '400px', 'padding': '0px', 'width': '100%'}, src="https://static.softenstorm.com/livebook/screenshots/6.5---6.jpg")
                      .-fsb-preset-937ee3cc.col-lg-4.col-md-5.d-lg-block.d-md-block.d-none.d-sm-none.d-xl-block.internal-fsb-element.offset-lg-2.offset-md-1(style={'': 'undefined', '-fsb-inherited-presets': '937ee3cc'}, internal-fsb-guid="7b721cae")
                        .-fsb-preset-027229d9.col-12.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': '027229d9'}, internal-fsb-guid="ac42e41c")
                          | Review
                        .-fsb-preset-2846c888.col-12.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': '2846c888'}, internal-fsb-guid="bb5d1091")
                          | Review and remember all the words which you have had lookup before through challenging reviews. You will get rewards after your accumulated points have been reached the criteria.
                      .-fsb-preset-937ee3cc.d-block.d-lg-none.d-md-none.d-sm-block.d-xl-none.internal-fsb-element(style={'-fsb-inherited-presets': '937ee3cc', 'background': 'rgba(255, 255, 255, 0.95)', 'bottom': '0px', 'left': '0px', 'padding-top': '15px', 'position': 'fixed', 'right': '0px', 'top': 'auto', 'z-index': '2000'}, internal-fsb-guid="be912e72")
                        .-fsb-preset-027229d9.col-12.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': '027229d9'}, internal-fsb-guid="3e8ad4e8")
                          | Review
                        .-fsb-preset-2846c888.col-12.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': '2846c888'}, internal-fsb-guid="2018ae68")
                          | Review and remember all the words which you have had lookup before through challenging reviews. You will get rewards after your accumulated points have been reached the criteria.
                      .internal-fsb-element(style={'cursor': 'pointer', 'position': 'absolute', 'right': '20px', 'top': '20px'}, internal-fsb-guid="2460b7c7")
                        .html
                          svg.bi.bi-x-lg(fill="currentColor", height="30", viewBox="0 0 16 16", width="30", xmlns="http://www.w3.org/2000/svg")
                            path(d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z")
                  .-fsb-preset-eb281339.internal-fsb-element(style={'-fsb-inherited-presets': 'eb281339', 'width': '486.5px'}, internal-fsb-guid="6dd52b31")
                    .internal-fsb-element(style={padding: '0px'}, internal-fsb-forward="1", internal-fsb-guid="451cc537")
                      img(style={'cursor': 'pointer', 'display': 'block', 'height': '100%', 'padding': '0px', 'width': '100%'}, src="https://static.softenstorm.com/livebook/screenshots/12.9-inch-7.jpg")
                    .-fsb-preset-8b145a01.internal-fsb-element.internal-fsb-layer-off.internal-fsb-stretch.internal-fsb-strict-layout(style={'-fsb-inherited-presets': '8b145a01'}, internal-fsb-class="FlowLayout", internal-fsb-guid="d2b6b87e")
                      .-fsb-preset-66e37669.col-md-4.internal-fsb-element.offset-md-1(style={'-fsb-inherited-presets': '66e37669'}, internal-fsb-guid="99673780")
                        .internal-fsb-element(style={padding: '0px'}, internal-fsb-forward="1", internal-fsb-guid="7c8dc277")
                          img(style={'display': 'inline-block', 'height': '100%', 'max-width': '400px', 'padding': '0px', 'width': '100%'}, src="https://static.softenstorm.com/livebook/screenshots/6.5---7.jpg")
                      .-fsb-preset-937ee3cc.col-lg-4.col-md-5.d-lg-block.d-md-block.d-none.d-sm-none.d-xl-block.internal-fsb-element.offset-lg-2.offset-md-1(style={'': 'undefined', '-fsb-inherited-presets': '937ee3cc'}, internal-fsb-guid="a08bb5c1")
                        .-fsb-preset-027229d9.col-12.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': '027229d9'}, internal-fsb-guid="50274480")
                          | Reverse Lookup
                        .-fsb-preset-2846c888.col-12.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': '2846c888'}, internal-fsb-guid="e30a0e0a")
                          | You can find all of the words in which their definitions contain the keywords that you want to know.
                      .-fsb-preset-937ee3cc.d-block.d-lg-none.d-md-none.d-sm-block.d-xl-none.internal-fsb-element(style={'-fsb-inherited-presets': '937ee3cc', 'background': 'rgba(255, 255, 255, 0.95)', 'bottom': '0px', 'left': '0px', 'padding-top': '15px', 'position': 'fixed', 'right': '0px', 'top': 'auto', 'z-index': '2000'}, internal-fsb-guid="084e9cc9")
                        .-fsb-preset-027229d9.col-12.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': '027229d9'}, internal-fsb-guid="85ab810a")
                          | Reverse Lookup
                        .-fsb-preset-2846c888.col-12.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': '2846c888'}, internal-fsb-guid="613eba84")
                          | You can find all of the words in which their definitions contain the keywords that you want to know.
                      .internal-fsb-element(style={'cursor': 'pointer', 'position': 'absolute', 'right': '20px', 'top': '20px'}, internal-fsb-guid="a254612d")
                        .html
                          svg.bi.bi-x-lg(fill="currentColor", height="30", viewBox="0 0 16 16", width="30", xmlns="http://www.w3.org/2000/svg")
                            path(d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z")
                  .-fsb-preset-eb281339.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': 'eb281339'}, internal-fsb-guid="832d25e1")
                    .internal-fsb-element(style={padding: '0px'}, internal-fsb-forward="1", internal-fsb-guid="64999058")
                      img(style={'cursor': 'pointer', 'display': 'block', 'height': '100%', 'padding': '0px', 'width': '100%'}, src="https://static.softenstorm.com/livebook/screenshots/6.5---8.jpg")
                    .-fsb-preset-8b145a01.internal-fsb-element.internal-fsb-layer-off.internal-fsb-stretch.internal-fsb-strict-layout(style={'-fsb-inherited-presets': '8b145a01'}, internal-fsb-class="FlowLayout", internal-fsb-guid="ed796ce0")
                      .-fsb-preset-66e37669.col-md-4.internal-fsb-element.offset-md-1(style={'-fsb-inherited-presets': '66e37669'}, internal-fsb-guid="9d88e44d")
                        .internal-fsb-element(style={padding: '0px'}, internal-fsb-forward="1", internal-fsb-guid="a6717b00")
                          img(style={'display': 'inline-block', 'height': '100%', 'max-width': '400px', 'padding': '0px', 'width': '100%'}, src="https://static.softenstorm.com/livebook/screenshots/6.5---8.jpg")
                      .-fsb-preset-937ee3cc.col-lg-4.col-md-5.d-lg-block.d-md-block.d-none.d-sm-none.d-xl-block.internal-fsb-element.offset-lg-2.offset-md-1(style={'': 'undefined', '-fsb-inherited-presets': '937ee3cc'}, internal-fsb-guid="8875da46")
                        .-fsb-preset-027229d9.col-12.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': '027229d9'}, internal-fsb-guid="9d8cc726")
                          | Purchase a Subscription
                        .-fsb-preset-2846c888.col-12.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': '2846c888'}, internal-fsb-guid="cc8b7530")
                          | Navigate to Settings to subscribe and get access to unlimited translations, words under categories, and relevance images.
                      .-fsb-preset-937ee3cc.d-block.d-lg-none.d-md-none.d-sm-block.d-xl-none.internal-fsb-element(style={'-fsb-inherited-presets': '937ee3cc', 'background': 'rgba(255, 255, 255, 0.95)', 'bottom': '0px', 'left': '0px', 'padding-top': '15px', 'position': 'fixed', 'right': '0px', 'top': 'auto', 'z-index': '2000'}, internal-fsb-guid="97140464")
                        .-fsb-preset-027229d9.col-12.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': '027229d9'}, internal-fsb-guid="47a7084c")
                          | Purchase a Subscription
                        .-fsb-preset-2846c888.col-12.internal-fsb-element(style={'': 'undefined', '-fsb-inherited-presets': '2846c888'}, internal-fsb-guid="34d6824a")
                          | Navigate to Settings to subscribe and get access to unlimited translations, words under categories, and relevance images.
                      .internal-fsb-element(style={'cursor': 'pointer', 'position': 'absolute', 'right': '20px', 'top': '20px'}, internal-fsb-guid="51c8a687")
                        .html
                          svg.bi.bi-x-lg(fill="currentColor", height="30", viewBox="0 0 16 16", width="30", xmlns="http://www.w3.org/2000/svg")
                            path(d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z")
              .internal-fsb-element(style={'background': 'rgba(242, 242, 242, 1)', 'padding-bottom': '25px', 'padding-left': '0px', 'padding-right': '0px', 'padding-top': '40px', 'width': '100%'}, internal-fsb-guid="61c1eacd")
                .col-12.internal-fsb-element(style={'font-size': '30px', 'font-weight': '300', 'text-align': 'center'}, internal-fsb-guid="28388eaa")
                  | DOWNLOAD THIS FREE DICTIONARY APP
                .col-12.internal-fsb-element(style={'font-size': '18px', 'font-weight': '300', 'text-align': 'center'}, internal-fsb-guid="e6982e39")
                  | on the App Store
              .internal-fsb-element(style={'-ms-overflow-y': 'hidden', '-webkit-justify-content': 'center', 'background': 'rgba(68, 68, 68, 1)', 'display': 'flex', 'justify-content': 'center', 'overflow-y': 'hidden', 'padding-bottom': '200px', 'padding-left': '0px', 'padding-right': '0px', 'padding-top': '200px', 'position': 'relative', 'text-align': 'center', 'width': '100%'}, internal-fsb-guid="d32c4bb7")
                .internal-fsb-element(style={'-ms-overflow-x': 'hidden', '-ms-overflow-y': 'hidden', 'bottom': '0px', 'left': '0px', 'overflow-x': 'hidden', 'overflow-y': 'hidden', 'padding-left': '0px', 'padding-right': '0px', 'position': 'absolute', 'right': '0px', 'width': '100%'}, internal-fsb-guid="a7e04974")
                  .col-12.d-lg-block.d-md-block.d-none.d-sm-block.d-xl-block.internal-fsb-element(style={padding: '0px'}, internal-fsb-forward="1", internal-fsb-guid="479d30cc")
                    video(style={'display': 'block', 'height': '100%', 'padding': '0px', 'position': 'relative', 'width': '125%'}, autoplay="autoplay", loop="loop", muted="muted", playsinline="playsinline", src="https://static.softenstorm.com/Lavender_-_17156.webm.1080p.vp9.webm")
                  .col-12.d-block.d-lg-none.d-md-none.d-sm-none.d-xl-none.internal-fsb-element(style={padding: '0px'}, internal-fsb-forward="1", internal-fsb-guid="1b58bdc3")
                    video(style={'display': 'block', 'height': '100%', 'padding': '0px', 'position': 'relative', 'width': '200%'}, autoplay="autoplay", loop="loop", muted="muted", playsinline="playsinline", src="https://static.softenstorm.com/Lavender_-_17156.webm.1080p.vp9.webm")
                .internal-fsb-element(style={'-webkit-justify-content': 'center', 'display': 'flex', 'justify-content': 'center', 'padding-left': '0px', 'padding-right': '0px', 'position': 'relative', 'width': '100%'}, internal-fsb-guid="7ce3aa13")
                  a.-fsb-preset-2d8e4cab.internal-fsb-element(style={'-fsb-inherited-presets': '2d8e4cab', '-ms-flex-direction': 'row', '-webkit-align-items': 'center', '-webkit-flex-direction': 'row', 'align-items': 'center', 'background': 'rgba(33, 33, 33, 1)', 'display': 'flex', 'flex-direction': 'row', 'max-width': '375px', 'padding-bottom': '6px', 'padding-left': '6px', 'padding-right': '6px', 'padding-top': '6px'}, href="https://apps.apple.com/us/app/livebook-scanning-dictionary/id1554018601#?platform=iphone", internal-fsb-guid="7d14ee62")
                    .internal-fsb-element(style={'-webkit-flex-basis': '45px', 'flex-basis': '45px', 'margin-right': '10px', 'padding-left': '0px', 'padding-right': '0px'}, internal-fsb-guid="5532b21e")
                      .col-4.internal-fsb-element(style={padding: '0px'}, internal-fsb-forward="1", internal-fsb-guid="ca20e7cb")
                        img(style={'height': '45px', 'padding': '0px', 'width': '45px'}, src="https://static.softenstorm.com/appstore.webp")
                    .internal-fsb-element(style={'-webkit-flex-basis': '0px', '-webkit-flex-grow': '1', 'flex-basis': '0px', 'flex-grow': '1', 'margin-right': '15px', 'white-space': 'nowrap'}, internal-fsb-guid="727b2e74")
                      | Download on the App Store
              .internal-fsb-element(style={'background': 'rgba(242, 242, 242, 1)', 'padding-bottom': '15px', 'padding-left': '25px', 'padding-right': '25px', 'padding-top': '40px', 'text-align': 'center', 'width': '100%'}, internal-fsb-guid="542d9b87")
                a.-fsb-preset-45242510.internal-fsb-element(style={'-fsb-inherited-presets': '45242510', '-webkit-border-radius': '100px 100px 100px 100px', 'border-radius': '100px 100px 100px 100px', 'color': 'rgba(33, 33, 33, 1)', 'display': 'inline-block', 'font-size': '14px', 'font-weight': '300'}, href="/livebook-policy-and-terms", target="", internal-fsb-guid="663a1d82")
                  .internal-fsb-element(internal-fsb-guid="663a1d82-text")
                    | Privacy Policy and Terms of Service
                .internal-fsb-element(style={'color': 'rgba(68, 68, 68, 1)', 'font-size': '13px', 'line-height': '1.25em', 'margin-top': '15px', 'text-align': 'center'}, internal-fsb-guid="35d6a250")
                  | LiveBook is a free dictionary app, which its word grabber uses OCR camera for scanning words on texts by pointing and focusing on any words to capture, recognize, and lookup their definitions. In another word, it's a free optical character recognition dictionary app for books and newspapers. This word scanning dictionary also translates the definitions into 64 languages worldwide. It has a ton of features, for example, the history of past lookups, taking quizzes, exercising pronunciations, analyzing the structure of sentences, learning new words from reverse lookup, and more.
              .internal-fsb-element.internal-fsb-strict-layout(style={'padding-bottom': '30px', 'padding-top': '30px'}, internal-fsb-class="FlowLayout", internal-fsb-guid="a44141b2")
                .col-12.internal-fsb-element(style={'font-size': '13px', 'font-weight': '300', 'text-align': 'center'}, internal-fsb-guid="7b9d952b")
                  | ©2020-2023 by SoftenStorm Foundation
                a.internal-fsb-element(style={'-moz-text-decoration-line': 'none', '-webkit-text-decoration-line': 'none', 'color': 'rgba(33, 33, 33, 1)', 'font-size': '13px', 'font-weight': '300', 'text-align': 'center', 'text-decoration-line': 'none', 'width': '100vw'}, href="https://www.stackblend.org", internal-fsb-guid="083bc39d")
                  .internal-fsb-element(internal-fsb-guid="1e572dd9")
                    | Designed in StackBlend Studio
    script(type="text/javascript" src="/js/libraries/polyfills/polyfill.io.js")
    script(type="text/javascript" src="/js/Embed.bundle.js")
    script(type="text/javascript").
      var Controller = /** @class */ (function () {
          function Controller() {
              this.dictionary = {};
          }
          Controller.prototype.onImageClick_6c6a36b7 = function (event) {
              // Handle the event of onImageClick (Image 2) here:
              // 
              // const target = EventHelper.getCurrentElement(event); /* current invoking element */
              // const element1 = HTMLHelper.getElementById('ID');    /* accessing an element */
              // const control1 = ReactDOM.findDOMNode(this.refs.ID); /* accessing a component */
              // 
              var target = EventHelper.getCurrentElement(event);
              target.parentNode.nextElementSibling.style.display = 'flex';
          };
          Controller.prototype.onHTMLClick_5ccd9855 = function (event) {
              // Handle the event of onHTMLClick (HTML 1) here:
              // 
              // const target = EventHelper.getCurrentElement(event); /* current invoking element */
              // const element1 = HTMLHelper.getElementById('ID');    /* accessing an element */
              // const control1 = ReactDOM.findDOMNode(this.refs.ID); /* accessing a component */
              // 
              var target = EventHelper.getCurrentElement(event);
              target.parentNode.style.display = 'none';
          };
          Controller.prototype.onImageClick_32787b7d = function (event) {
              // Handle the event of onImageClick (Image 2) here:
              // 
              // const target = EventHelper.getCurrentElement(event); /* current invoking element */
              // const element1 = HTMLHelper.getElementById('ID');    /* accessing an element */
              // const control1 = ReactDOM.findDOMNode(this.refs.ID); /* accessing a component */
              // 
              var target = EventHelper.getCurrentElement(event);
              target.parentNode.nextElementSibling.style.display = 'flex';
          };
          Controller.prototype.onHTMLClick_8e45ab71 = function (event) {
              // Handle the event of onHTMLClick (HTML 1) here:
              // 
              // const target = EventHelper.getCurrentElement(event); /* current invoking element */
              // const element1 = HTMLHelper.getElementById('ID');    /* accessing an element */
              // const control1 = ReactDOM.findDOMNode(this.refs.ID); /* accessing a component */
              // 
              var target = EventHelper.getCurrentElement(event);
              target.parentNode.style.display = 'none';
          };
          Controller.prototype.onImageClick_c40248e3 = function (event) {
              // Handle the event of onImageClick (Image 2) here:
              // 
              // const target = EventHelper.getCurrentElement(event); /* current invoking element */
              // const element1 = HTMLHelper.getElementById('ID');    /* accessing an element */
              // const control1 = ReactDOM.findDOMNode(this.refs.ID); /* accessing a component */
              // 
              var target = EventHelper.getCurrentElement(event);
              target.parentNode.nextElementSibling.style.display = 'flex';
          };
          Controller.prototype.onHTMLClick_9a88d6d8 = function (event) {
              // Handle the event of onHTMLClick (HTML 1) here:
              // 
              // const target = EventHelper.getCurrentElement(event); /* current invoking element */
              // const element1 = HTMLHelper.getElementById('ID');    /* accessing an element */
              // const control1 = ReactDOM.findDOMNode(this.refs.ID); /* accessing a component */
              // 
              var target = EventHelper.getCurrentElement(event);
              target.parentNode.style.display = 'none';
          };
          Controller.prototype.onImageClick_19427a27 = function (event) {
              // Handle the event of onImageClick (Image 2) here:
              // 
              // const target = EventHelper.getCurrentElement(event); /* current invoking element */
              // const element1 = HTMLHelper.getElementById('ID');    /* accessing an element */
              // const control1 = ReactDOM.findDOMNode(this.refs.ID); /* accessing a component */
              // 
              var target = EventHelper.getCurrentElement(event);
              target.parentNode.nextElementSibling.style.display = 'flex';
          };
          Controller.prototype.onHTMLClick_a6e85b59 = function (event) {
              // Handle the event of onHTMLClick (HTML 1) here:
              // 
              // const target = EventHelper.getCurrentElement(event); /* current invoking element */
              // const element1 = HTMLHelper.getElementById('ID');    /* accessing an element */
              // const control1 = ReactDOM.findDOMNode(this.refs.ID); /* accessing a component */
              // 
              var target = EventHelper.getCurrentElement(event);
              target.parentNode.style.display = 'none';
          };
          Controller.prototype.onImageClick_82c719d6 = function (event) {
              // Handle the event of onImageClick (Image 2) here:
              // 
              // const target = EventHelper.getCurrentElement(event); /* current invoking element */
              // const element1 = HTMLHelper.getElementById('ID');    /* accessing an element */
              // const control1 = ReactDOM.findDOMNode(this.refs.ID); /* accessing a component */
              // 
              var target = EventHelper.getCurrentElement(event);
              target.parentNode.nextElementSibling.style.display = 'flex';
          };
          Controller.prototype.onHTMLClick_11eed0a2 = function (event) {
              // Handle the event of onHTMLClick (HTML 1) here:
              // 
              // const target = EventHelper.getCurrentElement(event); /* current invoking element */
              // const element1 = HTMLHelper.getElementById('ID');    /* accessing an element */
              // const control1 = ReactDOM.findDOMNode(this.refs.ID); /* accessing a component */
              // 
              var target = EventHelper.getCurrentElement(event);
              target.parentNode.style.display = 'none';
          };
          Controller.prototype.onImageClick_cced2972 = function (event) {
              // Handle the event of onImageClick (Image 2) here:
              // 
              // const target = EventHelper.getCurrentElement(event); /* current invoking element */
              // const element1 = HTMLHelper.getElementById('ID');    /* accessing an element */
              // const control1 = ReactDOM.findDOMNode(this.refs.ID); /* accessing a component */
              // 
              var target = EventHelper.getCurrentElement(event);
              target.parentNode.nextElementSibling.style.display = 'flex';
          };
          Controller.prototype.onHTMLClick_2460b7c7 = function (event) {
              // Handle the event of onHTMLClick (HTML 1) here:
              // 
              // const target = EventHelper.getCurrentElement(event); /* current invoking element */
              // const element1 = HTMLHelper.getElementById('ID');    /* accessing an element */
              // const control1 = ReactDOM.findDOMNode(this.refs.ID); /* accessing a component */
              // 
              var target = EventHelper.getCurrentElement(event);
              target.parentNode.style.display = 'none';
          };
          Controller.prototype.onImageClick_451cc537 = function (event) {
              // Handle the event of onImageClick (Image 2) here:
              // 
              // const target = EventHelper.getCurrentElement(event); /* current invoking element */
              // const element1 = HTMLHelper.getElementById('ID');    /* accessing an element */
              // const control1 = ReactDOM.findDOMNode(this.refs.ID); /* accessing a component */
              // 
              var target = EventHelper.getCurrentElement(event);
              target.parentNode.nextElementSibling.style.display = 'flex';
          };
          Controller.prototype.onHTMLClick_a254612d = function (event) {
              // Handle the event of onHTMLClick (HTML 1) here:
              // 
              // const target = EventHelper.getCurrentElement(event); /* current invoking element */
              // const element1 = HTMLHelper.getElementById('ID');    /* accessing an element */
              // const control1 = ReactDOM.findDOMNode(this.refs.ID); /* accessing a component */
              // 
              var target = EventHelper.getCurrentElement(event);
              target.parentNode.style.display = 'none';
          };
          Controller.prototype.onImageClick_64999058 = function (event) {
              // Handle the event of onImageClick (Image 2) here:
              // 
              // const target = EventHelper.getCurrentElement(event); /* current invoking element */
              // const element1 = HTMLHelper.getElementById('ID');    /* accessing an element */
              // const control1 = ReactDOM.findDOMNode(this.refs.ID); /* accessing a component */
              // 
              var target = EventHelper.getCurrentElement(event);
              target.parentNode.nextElementSibling.style.display = 'flex';
          };
          Controller.prototype.onHTMLClick_51c8a687 = function (event) {
              // Handle the event of onHTMLClick (HTML 1) here:
              // 
              // const target = EventHelper.getCurrentElement(event); /* current invoking element */
              // const element1 = HTMLHelper.getElementById('ID');    /* accessing an element */
              // const control1 = ReactDOM.findDOMNode(this.refs.ID); /* accessing a component */
              // 
              var target = EventHelper.getCurrentElement(event);
              target.parentNode.style.display = 'none';
          };
          Controller.prototype.register = function (guid, eventName, functionName, capturing, forward) {
              if (!this.dictionary[guid])
                  this.dictionary[guid] = {};
              this.dictionary[guid][eventName] = [functionName, capturing, forward];
          };
          Controller.prototype.listen = function (guid) {
              if (this.dictionary[guid]) {
                  for (var key in this.dictionary[guid]) {
                      if (this.dictionary[guid].hasOwnProperty(key)) {
                          var eventName = key;
                          var functionName = this.dictionary[guid][key][0];
                          var capturing = !!this.dictionary[guid][key][1];
                          var forward = this.dictionary[guid][key][2];
                          var element = (!forward) ? this.getElementUsingGUID(guid) : this.getElementUsingGUID(guid).firstElementChild;
                          element.addEventListener(eventName, this[functionName].bind(this), capturing);
                      }
                  }
              }
          };
          Controller.prototype.getElementUsingGUID = function (guid) {
              return document.querySelectorAll('[internal-fsb-guid="' + guid + '"]')[0];
          };
          return Controller;
      }());
      var controller = new Controller();
      controller.register('6c6a36b7', 'click', 'onImageClick_6c6a36b7', false, true);
      controller.register('5ccd9855', 'click', 'onHTMLClick_5ccd9855', false, false);
      controller.register('32787b7d', 'click', 'onImageClick_32787b7d', false, true);
      controller.register('8e45ab71', 'click', 'onHTMLClick_8e45ab71', false, false);
      controller.register('c40248e3', 'click', 'onImageClick_c40248e3', false, true);
      controller.register('9a88d6d8', 'click', 'onHTMLClick_9a88d6d8', false, false);
      controller.register('19427a27', 'click', 'onImageClick_19427a27', false, true);
      controller.register('a6e85b59', 'click', 'onHTMLClick_a6e85b59', false, false);
      controller.register('82c719d6', 'click', 'onImageClick_82c719d6', false, true);
      controller.register('11eed0a2', 'click', 'onHTMLClick_11eed0a2', false, false);
      controller.register('cced2972', 'click', 'onImageClick_cced2972', false, true);
      controller.register('2460b7c7', 'click', 'onHTMLClick_2460b7c7', false, false);
      controller.register('451cc537', 'click', 'onImageClick_451cc537', false, true);
      controller.register('a254612d', 'click', 'onHTMLClick_a254612d', false, false);
      controller.register('64999058', 'click', 'onImageClick_64999058', false, true);
      controller.register('51c8a687', 'click', 'onHTMLClick_51c8a687', false, false);
      TestHelper.identify();
      function ready(a) { "loading" != document.readyState ? a(new Event('ready')) : document.addEventListener ? document.addEventListener("DOMContentLoaded", a) : (document.onreadystatechange = function (e) { "complete" == document.readyState && a(e); }); }
      ;
      controller.listen('6c6a36b7');
      controller.listen('5ccd9855');
      controller.listen('32787b7d');
      controller.listen('8e45ab71');
      controller.listen('c40248e3');
      controller.listen('9a88d6d8');
      controller.listen('19427a27');
      controller.listen('a6e85b59');
      controller.listen('82c719d6');
      controller.listen('11eed0a2');
      controller.listen('cced2972');
      controller.listen('2460b7c7');
      controller.listen('451cc537');
      controller.listen('a254612d');
      controller.listen('64999058');
      controller.listen('51c8a687');
      
    <link internal-fsb-link="true" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" class="internal-fsb-accessory internal-fsb-font">
    script(type="text/javascript").
      window.data = !{JSON.stringify(data)};
    include ../_footer.pug

//- <--- Auto[Generating:V1]
//- PLEASE DO NOT MODIFY BECAUSE YOUR CHANGES MAY BE LOST.