//- Auto[Generating:V1]--->
//- PLEASE DO NOT MODIFY BECAUSE YOUR CHANGES MAY BE LOST.

.
  <!DOCTYPE html>
html(lang=headers && headers.language || 'en')
  head
    meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
    title.
      #{headers && headers.title || 'LiveBook - Policy & Terms'}
    meta(name="description" content=headers && headers.description || '')
    meta(name="keywords" content=headers && headers.keywords || '')
    meta(http-equiv="content-language" content=headers && headers.language || 'en')
    meta(http-equiv="content-type" content=headers && headers.contentType || 'UTF-8')
    meta(name="revisit-after" content=headers && headers.revisitAfter || '7 days')
    meta(name="robots" content=headers && headers.robots || 'index, follow')
    meta(property="og:title" content=headers && headers.title || 'LiveBook - Policy & Terms')
    meta(property="og:url" content=headers && headers.linkUrl || '/livebook-policy-and-terms')
    meta(property="og:image" content=headers && headers.imageUrl || '')
    meta(property="og:type" content=headers && headers.itemType || 'website')
    meta(property="og:description" content=headers && headers.description || '')
    meta(property="og:locale" content=headers && headers.contentLocale || 'en_US')
    include ../_header.pug
  body(style="font-family: Inter")
    
    .internal-fsb-begin(internal-fsb-animation="", internal-fsb-guid="0")
      .internal-fsb-begin-layout.internal-fsb-strict-layout
        span(internal-fsb-init-class="Project.Controls.FlowLayout_6a0e95bb" internal-fsb-init-forward="{'classes': 'col-12 offset-0', 'styles': {}}")
        .-fsb-self-35115348.internal-fsb-element(internal-fsb-guid="35115348")
          .-fsb-preset-21a03a09.col-md-10.internal-fsb-element.offset-md-1(style={'-fsb-inherited-presets': '21a03a09', 'font-size': '13px', 'line-height': '1.15em', 'text-align': 'right', 'text-transform': 'uppercase'}, internal-fsb-guid="2548c507")
            div
              | SoftenStorm Foundation (Jatupon S.)
            div
              | NONPROFIT ORGANIZATION (NPO)
              | 
            div
              | MUEANG LAMPHUN, THAILAND
            div
              br
            div
              | This policy and terms are effective as of 5 December 2019.
            div
              br
            div
              | For SoftenStorm's LiveBook
          .-fsb-self-52a8a10d.col-md-10.internal-fsb-element.offset-md-1(internal-fsb-guid="52a8a10d")
            | PRIVACY POLICY
          .-fsb-self-21a03a09.col-md-10.internal-fsb-element.offset-md-1(internal-fsb-guid="21a03a09")
            | Your privacy is important to us. It is SoftenStorm's policy to respect your privacy regarding any information we may collect from you through our app, LiveBook.
            | 
            div
            div
              | ​
              | 
            div
              | We only ask for personal information when we truly need it to provide a service to you. We collect it by fair and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how it will be used.
              | 
            div
              br
            div
              | We only retain collected information for as long as necessary to provide you with your requested service. What data we store, we’ll protect within commercially acceptable means to prevent loss and theft, as well as unauthorized access, disclosure, copying, use or modification.
              | 
            div
              br
            div
              | We don’t share any personally identifying information publicly or with third-parties, except when required to by law.
              | 
            div
              | Our app may link to external sites that are not operated by us. Please be aware that we have no control over the content and practices of these sites, and cannot accept responsibility or liability for their respective privacy policies.
              | 
            div
              br
            div
              | You are free to refuse our request for your personal information, with the understanding that we may be unable to provide you with some of your desired services.
              | 
            div
              br
            div
              | Your continued use of our website will be regarded as acceptance of our practices around privacy and personal information. If you have any questions about how we handle user data and personal information, feel free to contact us.
            div
            div
            div
            div
            div
            div
            div
            div
            div
            div
            div
            div
            div
            div
            div
            div
            div
        .col-md-10.internal-fsb-element.offset-md-1(style={'-fsb-inherited-presets': '', 'padding-bottom': '20px', 'padding-left': '0px', 'padding-right': '0px', 'padding-top': '50px'}, internal-fsb-guid="000e292b")
          .-fsb-preset-52a8a10d.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '52a8a10d'}, internal-fsb-guid="da1ed355")
            | TERMS OF SERVICE
          .-fsb-preset-21a03a09.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '21a03a09', 'padding-bottom': '0px'}, internal-fsb-guid="939b4474")
            | SoftenStorm's LiveBook Terms of Service
          .-fsb-self-85716a5c.col-12.internal-fsb-element(internal-fsb-guid="85716a5c")
            | 1. Terms
          .-fsb-preset-21a03a09.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '21a03a09'}, internal-fsb-guid="6665bcba")
            | By accessing our app, LiveBook, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing LiveBook. The materials contained in LiveBook are protected by applicable copyright and trademark law.
          .-fsb-preset-85716a5c.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '85716a5c'}, internal-fsb-guid="5d405ca5")
            | 2. Use License
          .-fsb-preset-21a03a09.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '21a03a09'}, internal-fsb-guid="e59b9a21")
            | Permission is granted to temporarily download one copy of LiveBook per device for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
            | 
            div
            div
              | ​
              | 
            div
              | - modify or copy the materials;
              | 
            div
              | - use the materials for any commercial purpose, or for any public display (commercial or non-commercial);
              | 
            div
              | - attempt to decompile or reverse engineer any software contained in LiveBook;
              | 
            div
              | - remove any copyright or other proprietary notations from the materials; or
              | 
            div
              | - transfer the materials to another person or "mirror" the materials on any other server.
              | 
            div
              | This license shall automatically terminate if you violate any of these restrictions and may be terminated by SoftenStorm at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
            div
            div
            div
            div
            div
            div
            div
            div
          .-fsb-preset-85716a5c.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '85716a5c'}, internal-fsb-guid="162358dc")
            | 3. Disclaimer
          .-fsb-preset-21a03a09.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '21a03a09'}, internal-fsb-guid="941909b2")
            | The materials within LiveBook are provided on an 'as is' basis. SoftenStorm makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.
            | 
            div
            div
            div
            div
            div
            div
            div
            div
            div
            div
            div
              | Further, SoftenStorm does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to LiveBook.
          .-fsb-preset-85716a5c.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '85716a5c'}, internal-fsb-guid="317cace9")
            | 4. Limitations
          .-fsb-preset-21a03a09.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '21a03a09'}, internal-fsb-guid="2d255d35")
            div
              | In no event shall SoftenStorm or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use LiveBook, even if SoftenStorm or a SoftenStorm authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
          .-fsb-preset-85716a5c.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '85716a5c'}, internal-fsb-guid="6d990498")
            | 5. Accuracy of materials
          .-fsb-preset-21a03a09.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '21a03a09'}, internal-fsb-guid="934e99a0")
            | The materials appearing in LiveBook could include technical, typographical, or photographic errors. SoftenStorm does not warrant that any of the materials on LiveBook are accurate, complete or current. SoftenStorm may make changes to the materials contained in LiveBook at any time without notice. However SoftenStorm does not make any commitment to update the materials.
          .-fsb-preset-85716a5c.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '85716a5c'}, internal-fsb-guid="0d899ee0")
            | 6. Links
          .-fsb-preset-21a03a09.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '21a03a09'}, internal-fsb-guid="c7be64e7")
            | SoftenStorm has not reviewed all of the sites linked to its app and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by SoftenStorm of the site. Use of any such linked website is at the user's own risk.
          .-fsb-preset-85716a5c.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '85716a5c'}, internal-fsb-guid="2be14da8")
            | 7. Modifications
          .-fsb-preset-21a03a09.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '21a03a09'}, internal-fsb-guid="ed755b3c")
            | SoftenStorm may revise these terms of service for its app at any time without notice. By using LiveBook you are agreeing to be bound by the then current version of these terms of service.
          .-fsb-preset-85716a5c.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '85716a5c'}, internal-fsb-guid="7a563d20")
            | 8. Governing Law
          .-fsb-preset-21a03a09.col-12.internal-fsb-element(style={'-fsb-inherited-presets': '21a03a09'}, internal-fsb-guid="7032b618")
            | These terms and conditions are governed by and construed in accordance with the laws of CA and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.
        .internal-fsb-element.internal-fsb-strict-layout(style={'padding-bottom': '30px', 'padding-top': '30px'}, internal-fsb-class="FlowLayout", internal-fsb-guid="c8336286")
          .col-12.internal-fsb-element(style={'font-size': '13px', 'font-weight': '300', 'text-align': 'center'}, internal-fsb-guid="e688b033")
            | ©2020-2023 by SoftenStorm Foundation
          a.internal-fsb-element(style={'-moz-text-decoration-line': 'none', '-webkit-text-decoration-line': 'none', 'color': 'rgba(33, 33, 33, 1)', 'font-size': '13px', 'font-weight': '300', 'text-align': 'center', 'text-decoration-line': 'none', 'width': '100vw'}, href="https://www.stackblend.org", internal-fsb-guid="a5940b0b")
            .internal-fsb-element(internal-fsb-guid="c806bb4d")
              | Designed in StackBlend Studio
    script(type="text/javascript" src="/js/libraries/polyfills/polyfill.io.js")
    script(type="text/javascript" src="/js/Embed.bundle.js")
    script(type="text/javascript").
      var Controller = /** @class */ (function () {
          function Controller() {
              this.dictionary = {};
          }
          Controller.prototype.register = function (guid, eventName, functionName, capturing, forward) {
              if (!this.dictionary[guid])
                  this.dictionary[guid] = {};
              this.dictionary[guid][eventName] = [functionName, capturing, forward];
          };
          Controller.prototype.listen = function (guid) {
              if (this.dictionary[guid]) {
                  for (var key in this.dictionary[guid]) {
                      if (this.dictionary[guid].hasOwnProperty(key)) {
                          var eventName = key;
                          var functionName = this.dictionary[guid][key][0];
                          var capturing = !!this.dictionary[guid][key][1];
                          var forward = this.dictionary[guid][key][2];
                          var element = (!forward) ? this.getElementUsingGUID(guid) : this.getElementUsingGUID(guid).firstElementChild;
                          element.addEventListener(eventName, this[functionName].bind(this), capturing);
                      }
                  }
              }
          };
          Controller.prototype.getElementUsingGUID = function (guid) {
              return document.querySelectorAll('[internal-fsb-guid="' + guid + '"]')[0];
          };
          return Controller;
      }());
      var controller = new Controller();
      TestHelper.identify();
      function ready(a) { "loading" != document.readyState ? a(new Event('ready')) : document.addEventListener ? document.addEventListener("DOMContentLoaded", a) : (document.onreadystatechange = function (e) { "complete" == document.readyState && a(e); }); }
      ;
      
    <link internal-fsb-link="true" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" class="internal-fsb-accessory internal-fsb-font">
    script(type="text/javascript").
      window.data = !{JSON.stringify(data)};
    include ../_footer.pug

//- <--- Auto[Generating:V1]
//- PLEASE DO NOT MODIFY BECAUSE YOUR CHANGES MAY BE LOST.